@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);
html {
  overflow-y: scroll;
}
body {
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
}

.btn {
  transition: color 0.1s ease-in-out,background-color 0.1s ease-in-out,border-color 0.1s ease-in-out,box-shadow 0.1s ease-in-out;
}

.sw-Header_Main {
  width: 100%;
  height: 60px;
  margin: 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15); }

.sw-Header_MainInner {
  width: 750px;
  margin: 0 auto; }

.sw-Header_Logo {
  float: left;
  width: 200px;
  margin: 5px 0 0; }
  .sw-Header_Logo img {
    width: 120px; }

.sw-Header_FlowList {
  float: right;
  width: 540px;
  margin: 10px 0 8px;
  padding: 0;
  list-style-type: none;
  text-align: right; }

.sw-Header_FlowItem {
  float: left;
  position: relative;
  width: 160px;
  height: 40px;
  margin: 0 20px 0 0;
  padding: 10px 0 0 18px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1em;
  color: #000;
  border: 2px solid #999999;
  border-right-style: none;
  border-radius: 6px 0 0 6px; }
  .sw-Header_FlowItem:before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -40px;
    margin: auto;
    border: 20px solid transparent;
    border-left: 20px solid #999999; }
  .sw-Header_FlowItem:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -35px;
    margin: auto;
    border: 18px solid transparent;
    border-left: 18px solid #ffffff; }
  .sw-Header_FlowItem:last-child {
    width: 180px;
    margin: 0;
    padding-left: 0;
    border-right-style: solid;
    border-radius: 6px; }
    .sw-Header_FlowItem:last-child:before, .sw-Header_FlowItem:last-child:after {
      display: none; }

.sw-Header_FlowItem-active {
  color: #6cb23c;
  border-color: #6cb23c; }
  .sw-Header_FlowItem-active:before {
    border-left-color: #6cb23c; }

.sw-Header_FlowItem-visited {
  opacity: 0.3; }

.sw-Main {
  margin: 0;
  padding: 0 0 100px; }

.sw-Section_Header {
  position: relative;
  margin: 30px auto 50px;
  padding: 15px 0 10px;
  text-align: center;
  color: #ffffff;
  background: #6cb23c url(../images/);
  box-shadow: 0 6px 6px 0 #c5c5c5; }
  .sw-Section_Header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border: 10px solid transparent;
    border-top: 10px solid #ffffff; }

.sw-Section_TitleMark {
  position: relative;
  width: 690px;
  margin: 0 auto; }
  .sw-Section_TitleMark:before {
    position: absolute;
    top: -25px;
    left: 0;
    content: '';
    width: 75px;
    height: 75px; }

.sw-Section_TitleMark-step0:before,
.sw-Section_TitleMark-step1:before {
  background: url("../images/step0/page-header-icon_1@2x.png") no-repeat;
  background-size: 100% auto; }

.sw-Section_TitleMark-step2:before {
  background: url("../images/step2/page-header-icon_2@2x.png") no-repeat;
  background-size: 100% auto; }

.sw-Section_TitleMark-step3:before {
  background: url("../images/step3/page-header-icon_3@2x.png") no-repeat;
  background-size: 100% auto; }

.sw-Section_TitleMark-step4:before {
  background: url("../images/step7/page-header-icon_4@2x.png") no-repeat;
  background-size: 100% auto; }

.sw-Section_TitleMark-step6:before {
  background: url("../images/step7/page-header-icon_4@2x.png") no-repeat;
  background-size: 100% auto; }

.sw-Section_TitleMark-step7:before {
  background: url("../images/step7/page-header-icon_4@2x.png") no-repeat;
  background-size: 100% auto;
  top: -26px;
  left: 2px; }

.sw-Section_Title {
  margin: 0;
  padding: 0 10px 0 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-size: 22px;
  font-size: 1.375rem; }

.sw-Section_Hr {
  margin: 0;
  border-bottom: 2px solid #cccccc;
  border-top: none; }

.sw-SubSection_Title {
  position: relative;
  height: 40px;
  margin: 30px 0;
  padding: 0;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 40px;
  background-color: #f2f2f2;
  border-radius: 6px; }
  .sw-SubSection_Title:after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border: solid transparent 8px;
    border-top-color: #f2f2f2;
    pointer-events: none; }

.sw-SubSection_TitleHelp {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto; }

.sw-SubSection_Content {
  margin: 30px 0;
  padding: 0; }

.sw-SubSection_Content-initDis {
  margin: 30px 0 0;
  padding: 0; }

.sw-Footer {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding: 10px 0 10px;
  background-color: #6cb23c;
  box-shadow: 0px -3px 20px 0px #c5c5c5;
  font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI", YuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  text-align: center;
  color: #ffffff; }

.sw-Footer_PermitNumber {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.02rem; }

.sw-Footer_Copyright {
  display: block;
  margin: 6px 0 0;
  font-size: 10px;
  font-size: 0.625rem;
  letter-spacing: 0.02rem; }

.sw-Footer-mb20 {
  margin-bottom: 20px; }

.welcome-Wrapper {
  margin: 0;
  background-color: #ffd4e1;
  box-shadow: 0 6px 6px 0 #dbb6c0 inset; }

.welcome-Inner {
  width: 750px;
  margin: 0 auto;
  height: 100px; }
  .welcome-Inner::after {
    display: block;
    clear: both;
    content: ""; }

.welcome-Character {
  float: left;
  position: relative;
  width: 214px;
  height: 100px;
  margin: 0;
  padding: 0;
  background: url(../images/common/header/vector@2x.png) no-repeat right center;
  background-size: auto 100%; }
  .welcome-Character img {
    position: absolute;
    top: 5px;
    left: 83px;
    width: 92px; }

.welcome-Copy {
  float: right;
  width: 535px;
  padding: 20px 0 0 30px; }

.welcome-Copy_Text {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-display: swap;
  font-size: 20px;
  font-size: 1.25rem;
  color: #ff124c; }

.welcome-Copy_Anchor {
  font-size: 14px;
  font-size: 0.875rem;
  color: #332a2d;
  text-decoration: underline; }

.form-Field_Wrapper {
  width: 690px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.form-Field {
  width: 690px;
  margin: 0 auto;
  display: flex; }

.form-Field-half {
  width: 310px;
  margin: 0; }
  .form-Field-half:nth-of-type(2n) {
    width: 270px; }

.form-Field-selectBank {
  width: 470px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .form-Field-selectBank > * {
    flex-grow: 0; }

.form-Field_Label {
  display: block;
  width: 110px;
  margin: 0  0 15px;
  padding: 0 4px;
  text-align: right;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 40px;
  color: #000000; }
.form-Field_Label.twoline{
  line-height: 1.4em;
}
.form-Field_Label-custumerQues {
  padding-left: 18px !important;
  padding-top: 6px !important; }

.form-Field_Label-selectBank {
  display: block;
  width: 110px;
  margin: 0 0 15px 0;
  padding: 0 4px;
  text-align: right;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 40px;
  color: #000000; }

.form-Field_Widget-multi {
  width: 470px;
  margin: 0 auto 15px;
  display: flex;
  justify-content: space-between; }
  .form-Field_Widget-multi > * {
    flex-grow: 0; }

.form-Field_Widget-boxOther {
  width: 470px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .form-Field_Widget-boxOther > * {
    flex-grow: 0;
    margin-left: 10px; }

.form-Field_Widget-selectCalender {
  text-align: center;
  margin: 0 17px 0 0; }

.form-Field_Widget-selectBank {
  width: 230px;
  height: 40px;
  margin: 0;
  border: 2px solid #999999;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.15) inset;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857;
  text-align: center; }

.form-Field_Widget-selectType {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857; }
  .form-Field_Widget-selectType input[type=radio] {
    display: none; }
  .form-Field_Widget-selectType:nth-of-type(1) {
    margin: 5px 0 0 0; }

.form-Field_Widget-couponInput {
  display: inline-block;
  margin: 0 0 0 8px;
  padding: 0; }

.form-Field_Widget-mb10 {
  margin-bottom: 10px; }

.form-Field_Widget-mr10 {
  margin-right: 10px; }

.form-Field_Widget-width476 {
  width: 456px; }

.form-Field_Hint {
  margin: 5px 0 15px;
  font-size: 12px;
  font-size: 0.75rem; }

.form-InputText {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #fff9d4;
  border: 2px solid #999999;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.15) inset; }

.form-InputText:focus {
  outline: 0;
  border-color: #999999;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.15) inset; }

.form-InputText-optional {
  background-color: #ffffff !important; }

.form-InputText-error {
  background-color: #ffdde5 !important; }

.form-InputText-another {
  margin: 15px 0 0 0; }

.form-InputText_Placeholder-black::-moz-placeholder {
  color: #000; }

.form-InputText_Placeholder-black:-ms-input-placeholder {
  color: #000; }

.form-InputText_Placeholder-black::-webkit-input-placeholder {
  color: #000; }

.form-InputText-numBoxOver {
  width: 85px;
  margin: 0 10px 0 5px; }

.form-InputText-105 {
  width: 105px; }

.form-InputText-110 {
  width: 110px; }

.form-InputText-120 {
  width: 120px; }

.form-InputText-150 {
  width: 150px; }

.form-InputText-190 {
  width: 190px; }

.form-InputText-200 {
  width: 200px; }

.form-InputText-230 {
  width: 230px; }

.form-InputText-240 {
  width: 240px; }

.form-InputText-310 {
  width: 310px; }

.form-InputText-470 {
  width: 470px; }

.form-InputText_TextArea {
  width: 100%;
  height: 140px;
  border: 2px solid #999999;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 4px 4px 16px -8px #999999 inset;
  background-color: #fff9d4; }

.form-Select {
  position: relative;
  color: #000000;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20data-prefix%3D%22fas%22%20data-icon%3D%22chevron-circle-down%22%20class%3D%22svg-inline--fa%20fa-chevron-circle-down%20fa-w-16%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22#999999%22%20d%3D%22M504%20256c0%20137-111%20248-248%20248S8%20393%208%20256%20119%208%20256%208s248%20111%20248%20248zM273%20369.9l135.5-135.5c9.4-9.4%209.4-24.6%200-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9%200L256%20285.1%20154.4%20183.5c-9.4-9.4-24.6-9.4-33.9%200l-17%2017c-9.4%209.4-9.4%2024.6%200%2033.9L239%20369.9c9.4%209.4%2024.6%209.4%2034%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-image: url("../images/common/marks/font-awesome_4-7-0_chevron-circle-down_16_0_999999_none.png");
  background-position: right 10px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border: 2px solid #999999;
  border-radius: 6px;
  box-shadow: 4px 4px 16px -8px #999999 inset;
  background-color: #fff9d4;
  -webkit-appearance: none;
  -moz-appearance: none; }

.form-Select:focus {
  outline: 0 !important;
  border-color: #999999;
  box-shadow: none; }

.form-Select-optional {
  background-color: #ffffff; }

.form-Select-120 {
  width: 120px; }

.form-Select-200 {
  width: 200px; }

.form-Select-150 {
  width: 150px; }

.form-Select-140 {
  width: 140px; }

.form-Select-145 {
  width: 145px; }

.form-Select-120 {
  width: 120px; }

.form-Select-115 {
  width: 115px; }

.form-ToggleBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 80px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #999999;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15) inset; }
  .form-ToggleBtn input[type=radio] {
    display: none; }
  .form-ToggleBtn:hover {
    border: 2px solid #6cb23c;
    color: #6cb23c; }
    .form-ToggleBtn:hover .form-ToggleBtn_Icon {
      color: #6cb23c; }
  .form-ToggleBtn input:checked {
    border: 2px solid #6cb23c;
    color: #ffffff;
    background-color: #6cb23c;
    box-shadow: none; }
    .form-ToggleBtn input:checked .form-ToggleBtn_Icon {
      color: #ffffff; }
  .form-ToggleBtn:active, .form-ToggleBtn.active, .form-ToggleBtn.forcus {
    border: 2px solid #6cb23c;
    color: #ffffff;
    background-color: #6cb23c;
    box-shadow: none; }
    .form-ToggleBtn:active .form-ToggleBtn_Icon, .form-ToggleBtn.active .form-ToggleBtn_Icon, .form-ToggleBtn.forcus .form-ToggleBtn_Icon {
      color: #ffffff; }

.form-ToggleBtn-sm {
  justify-content: flex-start;
  width: 160px;
  height: 60px;
  margin: 0 0 0 10px;
  padding: 0 15px;
  text-align: left; }
  .form-ToggleBtn-sm:nth-of-type(1) {
    margin: 0; }

.form-ToggleBtn-selectBank {
  width: 230px;
  height: 40px;
  margin-bottom: 12px !important; }

.form-ToggleBtn-width86 {
  width: 86px; }

.form-ToggleBtn-width150 {
  width: 150px; }

.form-ToggleBtn_Text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  display: block;
  text-align: center; }
  .form-ToggleBtn_Text.larger {
    font-size: 1.4rem;
    line-height: 1.4rem; }

.form-ToggleBtn_Text-sm {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857; }

.form-ToggleBtn_Text-selectBank {
  display: inline-block;
  padding: 0 23px 0 0;
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857; }

.form-Text-selectBank {
  display: inline-block;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857; }

.form-ToggleBtn_Icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  color: #999999; }
  .form-ToggleBtn-sm .form-ToggleBtn_Icon {
    right: 5px; }

.form-ToggleBtn_Icon-selectBank {
  top: 9px; }

.form-ToggleBtn_Icon-check {
  color: #ebebeb; }

.form-Checkbox {
  margin: 0 0 10px 0; }
  .form-Checkbox .custom-control-label {
    padding: 0 0 0 12px; }
    .form-Checkbox .custom-control-label:before {
      top: 0.2rem;
      left: -1.5rem;
      width: 1.8rem;
      height: 1.8rem;
      background-color: #fff9d4;
      border: 2px solid #999999;
      box-shadow: inset 3px 3px 0.2rem rgba(0, 0, 0, 0.1); }
    .form-Checkbox .custom-control-label:after {
      top: 0;
      left: -1.5rem;
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      background-size: 50% 50%; }
  .form-Checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffffff !important; }
  .form-Checkbox .custom-control-input:checked ~ .custom-control-label::after {
    content: '\F00C';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    position: absolute;
    top: 0.35rem;
    left: -1.1rem;
    width: 1.8rem;
    height: 1.8rem;
    color: red;
    z-index: 30;
    background-image: none; }

.form-Checkbox-multi {
  min-width: 50%;
  display: inline-block; }

.form-Checkbox-optional .custom-control-label:before {
  background-color: #ffffff; }

.form-Checkbox_Text-ml15 {
  margin-left: 15px; }

.form-Radio input[type=radio] {
  display: none; }

.form-Radio .custom-control-label:before {
  top: 0;
  left: -1.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff;
  border: 2px solid #999999;
  box-shadow: inset 3px 3px 0.2rem rgba(0, 0, 0, 0.1); }

.form-Radio .custom-control-label:after {
  top: .25rem;
  left: -1.55rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: none;
  background-color: #ffffff;
  border-radius: 100%; }

.form-Radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ffffff; }

.form-Radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  background-color: #6cb23c; }

.form-Radio_Icon-comfirm {
  display: inline-block; }

.form-Radio_Icon-check {
  color: #ebebeb;
  position: absolute;
  top: 10px;
  right: 10px; }

.calender_Panel {
  background-color: #F1F1F1;
  padding: 8px 30px;
  width: 470px;
  box-sizing: content-box;
  margin: 20px auto; }

.collectDatetime {
  background-color: #F1F1F1;
  padding: 8px 30px 30px;
  width: 470px;
  box-sizing: content-box;
  margin: 20px auto 0; }

.form-Calendar {
  width: 470px;
  margin: 0 auto; }

.form-Calender_Table {
  width: 100%;
  margin: 22px 0; }
  .form-Calender_Table caption {
    caption-side: top;
    border-bottom: 2px solid #cccccc;
    margin: 0 0 8px;
    padding: 0 0 10px;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    color: #000;
    font-weight: bold; }

.form-Calender_Cell {
  position:relative;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
  padding: 5px 3px; }
  .form-Calender_Cell .btn {
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: black;
    border: 2px solid #999999;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15) inset; }
    .form-Calender_Cell .btn:hover, .form-Calender_Cell .btn.selected {
      color: #ffffff;
      background-color: #6cb23c;
      border: 2px solid #6cb23c; }
    .form-Calender_Cell .btn.selected:after {
      content: "";
      position: absolute;
      bottom: -2px;
      right: -2px;
      width: 33px;
      height: 23px;
      background: url(../images/step2/calender-icon-truck@2x.png) center center no-repeat;
      background-size: contain;
    }
    .form-Calender_Cell .btn:disabled, .form-Calender_Cell .btn:disabled:hover {
      opacity: 0.3;
      color: inherit;
      border: 2px solid #999999; }

.form-Calender_Cell-sun {
  color: #ff124c; }
  .form-Calender_Cell-sun .btn {
    color: #ff124c; }

.form-Calender_Cell-sat {
  color: #267bd2; }
  .form-Calender_Cell-sat .btn {
    color: #267bd2; }

.form-Calender_Cell-kitDate {
  position: relative; }
  .form-Calender_Cell-kitDate .btn:hover {
    color:#ffffff !important;

  }
  .form-Calender_Cell-kitDate:after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 33px;
    height: 23px;
    background: url(../images/step2/calender-icon-package@2x.png) center center no-repeat;
    background-size: contain; }
  .form-Calender_Cell-kitDate .btn {
    border-color: #6cb23c !important;
    background-color: #6cb23c !important;
    color:#ffffff !important;
    opacity: 1 !important; }
  .cargo-Select .form-Calender_Cell-kitDate .btn {
    border-color: #999999 !important;
    background-color: #ffff !important;
    color:#000000 !important;
     }

.form-Text {
  margin: 25px 0 8px 0;
  font-size: 14px;
  font-size: 0.875rem; }

.form-Text_TextAline-right {
  text-align: right; }

.form-Text_UnderLine {
  border-bottom: black 1px solid; }

.form-Text_Icon {
  margin: 0 5px; }

.form-Text_Confirm {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5; }

.form-Text_Coupon {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fc034e; }
  .form-Text_Coupon::before {
    content: '';
    width: 34px;
    height: 34px;
    background: url("../images/step6/slash_left@2x.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 145px; }
  .form-Text_Coupon::after {
    content: '';
    width: 34px;
    height: 34px;
    background: url("../images/step6/slash_right@2x.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 6px;
    right: 152px; }

.form-Text-numBoxOver {
  line-height: 1.71429; }

.form-Text-anyMark {
  padding: 4px 12px;
  margin: 0 0 0 20px;
  background-color: #707070;
  border-radius: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
  color: #ffffff;
  position: relative;
  top: -36px;
  left: 371px; }

.form-Button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-size: 20px;
  font-size: 1.25rem;
  position: relative;
  z-index: 10;
  width: 330px;
  min-height: 54px;
  margin: 0 auto;
  padding: 15px 12px;
  border: #6cb23c 2px solid;
  border-radius: 54px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset;
  line-height: 1.2;
  background-color: #fff;
  color: #6cb23c; }
  .form-Button:hover {
    background-color: #6cb23c;
    color: #fff;
    box-shadow: none; }

.form-Button_Icon-size18 {
  font-size: 18px;
  font-size: 1.125rem; }

.form-Button-green {
  border-color: #6cb23c;
  color: #6cb23c; }
  .form-Button-green:hover {
    background-color: #6cb23c;
    color: #fff; }

.form-Button-orange {
  border-color: #ff5200;
  color: #ff5200; }
  .form-Button-orange:hover {
    background-color: #ff5200;
    color: #fff; }

.form-Button-bgOrange {
  background-color: #ff5200;
  border: #ff5200 2px solid;
  box-shadow: none;
  color: #fff; }
  .form-Button-bgOrange:hover {
    background-color: #fff;
    border: #ff5200 2px solid;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset;
    color: #ff5200; }

.form-Button_Icon {
  position: absolute;
  top: 15px;
  right: 15px; }

.form-Button_Icon-prev {
  top: 18px;
  right: auto;
  left: 25px; }

.form-Button_Icon-member {
  position: absolute;
  top: 25px;
  right: 15px; }

.form-Button_Icon-new {
  position: absolute;
  top: 25px;
  right: 15px; }

.form-Button-small {
  font-size: 14px;
  font-size: 0.875rem;
  width: 200px;
  min-height: 30px;
  padding: 10px 12px; }
  .form-Button-small .form-Button_Icon {
    font-size: 20px;
    font-size: 1.25rem;
    position: absolute;
    top: 5px;
    right: 15px; }

.form-Button_Chara {
  position: relative;
  display: inline-block; }
  .form-Button_Chara:after {
    position: absolute;
    display: block;
    content: '';
    width: 60px;
    height: 60px;
    z-index: 1;
    background-size: cover;
    top: -50px;
    left: 10px; }

.form-Button_Chara-moe1 {
  vertical-align: top; }
  .form-Button_Chara-moe1:after {
    width: 70px;
    height: 60px;
    background-image: url("../images/common/charactor/moe_1@2x.png");
    top: -52px;
    left: 10px; }

.form-Button_Chara-nene1:after {
  width: 60px;
  height: 60px;
  background-image: url("../images/common/charactor/nene_1@2x.png");
  top: -50px;
  left: 15px; }

.form-Button_Chara-nene2:after {
  width: 60px;
  height: 60px;
  background-image: url("../images/common/charactor/nene_2@2x.png");
  top: -50px;
  left: 15px; }

.form-Button_SubText {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-size: 16px;
  font-size: 1rem; }

.form-Button_Text-serchBank,
.form-Button-autoAddress {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-size: 14px;
  font-size: 0.875rem; }

.form-Button_CharaNene1-list {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  width: 260px;
  margin: 0 auto;
  padding: 20px 0 30px;
  list-style-type: none;
  background-color: #f2f2f2;
  border-radius: 10px; }
  .form-Button_CharaNene1-list li {
    padding: 5px 0; }
    .form-Button_CharaNene1-list li p {
      margin: 0 auto; }

.form-Button-SearchBank {
  height: 36px;
  display: inline-block;
  text-decoration: none; }

.form-Button-width150 {
  width: 150px; }

.form-Button_height60 {
  height: 60px; }

.form-Content {
  width: 690px;
  margin: 0 auto; }

.form-Content_Inner {
  width: 470px;
  margin: 0 auto; }

.form-Content_Wrapper {
  display: flex;
  flex-wrap: wrap; }

.form-Content_List {
  margin: 45px 0 0 0;
  padding: 0;
  list-style-type: none; }

.form-Content-hide {
  display: none; }

.form-Title_Sub {
  height: 40px;
  margin: 0;
  padding: 8px 0 0 0;
  background-color: #f2f2f2;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: center;
  font-weight: bold; }

.form-Title_SubTriangle {
  position: relative;
  bottom: 0;
  width: 60px;
  margin: 0 auto;
  background: #f2f2f2; }

.form-Title_SubTriangle:after,
.form-Title_SubTriangle:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.form-Title_SubTriangle:after {
  border-top-color: #f2f2f2;
  border-width: 8px;
  margin-left: -10px; }

.form-Title_SubTriangle:before {
  border-width: 36px;
  margin-left: -36px; }

.form-Submit {
  margin: 60px auto 0;
  text-align: center; }

.purchase-Content-1 {
  margin: 0;
  border-top: none;
  padding: 20px 35px 20px; }

.purchase-Content-2 {
  margin: 0;
  border-top: none;
  padding: 0; }

.purchase-Content_Inner {
  margin: 0;
  padding: 10px 35px;
  background-color: #f2f2f2; }

.purchase-Detail_Table {
  width: 100%; }

.purchase-Detail_Title {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 10px 0 5px;
  background-color: #999999;
  text-align: center;
  color: #ffffff; }

.purchase-Detail_Row {
  border-bottom: 1px solid #cccccc;
  padding: 0; }
  .purchase-Detail_Row:nth-last-child(2) {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px; }
  .purchase-Detail_Row:nth-last-child(1) {
    border: none; }

.purchase-Detail_RowTitle {
  width: 320px;
  padding: 5px 0 0;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal; }

.purchase-Detail_RowTitle-total {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold; }

.purchase-Detail_SubtotalNum {
  padding: 5px 0 0;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: right; }
  .purchase-Detail_SubtotalNum:nth-of-type(1) {
    padding: 0; }

.purchase-Detail_Price {
  padding: 10px 0 5px;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: right;
  color: #ff124b;
  font-weight: bold; }

.purchase-Detail_TotalPrice {
  padding: 4px 0 5px;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: right;
  color: #ff124b;
  font-weight: bold; }

.purchase-Item_Table {
  width: 100%; }

.purchase-Item_Row {
  border-bottom: 1px solid #cccccc; }

.purchase-Item_Name {
  width: 370px;
  padding: 0 0 5px;
  font-size: 14px;
  font-size: 0.875rem; }
  .purchase-Item_Name :nth-of-type(1) {
    padding: 0 0 5px; }

.purchase-Item_Price {
  padding: 5px 0 10px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #ff124b;
  text-align: right;
  vertical-align: top; }

.purchase-Wrapper {
  width: 690px;
  margin: 0 auto; }

.purchase-Summary {
  position: relative;
  width: 600px;
  height: 60px;
  margin: 30px auto 0;
  border: 2px solid #ff124b;
  padding: 5px 0;
  border-radius: 50px;
  box-shadow: 0 11px 16px -6px #e9e9e9 inset;
  text-align: center; }
  .purchase-Summary:hover {
    cursor: pointer; }

.purchase-Summary_Table {
  margin: 0 0 0 130px; }

.purchase-Summary_TextCell {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0; }
  .purchase-Summary_TextCell :nth-of-type(2) {
    margin: 0 0 0 10px; }

.purchase-Summary_TotalItems {
  padding: 0 16px 0 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ff124b; }

.purchase-Summary_TotalPrice {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ff124b; }

.purchase-Summary_Comment {
  margin: 0;
  font-size: 12px;
  font-size: 0.75rem; }

.purchase-Summary_Icon {
  position: absolute;
  right: 18px;
  top: 22px;
  bottom: 0;
  color: #ff124b; }

.purchase-Container {
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  border: 2px solid #999999;
  border-top: none;
  border-radius: 0 0 15px 15px;
  padding: 0;
  display: none; }

.purchase-Close {
  position: relative;
  text-align: center;
  margin: 5px 0 8px;
  cursor: pointer; }

.purchase-Close_Text {
  display: inline-block;
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-size: 0.875rem; }

.kit-Img_Unit {
  margin: 0 auto 17px; }


.kit-Img_Unit-large {
  width: 177px;
  margin-top: 15px; }

.kit-Img_Unit-medium {
  width: 162px;
  margin-top: 15px; }

.kit-Img_Unit-small {
  width: 146px;
  margin-top: 29px; }

.kit-Img_Unit-only {
  width: 137px;
  margin: 28px auto 38px; }

.kit-Img {
  position: relative;
  top: 0;
  bottom: 0; }

.kit-Img-large {
  right: 6px; }

.kit-Img-medium {
  right: 13px; }

.kit-Img-small {
  top: -10px;
  right: 22px; }

.kit-Img-only {
  top: -10px;
  right: 24px; }

.kit-Img_Title {
  margin: 6px 0 0 4px;
  text-align: center; }

.kit-Img_Title-small {
  margin: -4px 0 0 6px; }

.kit-Img_Title-only {
  margin: 0 0 0; }

.kit-Img_SizeText {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem; }

.kit-Img_SizeText-large {
  margin: 0 0 0 0; }

.kit-Img_SizeText-medium {
  margin: 0 0 0 0; }

.kit-Img_SizeText-small {
  margin: 2px 0 6px 0; }

.kit-Img_SizeText-only {
  margin: 2px 6px 0 0; }

.kit-List {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #cccccc;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.kit-List_Item {
  width: 330px;
  margin: 0 0 20px;
  border-top: 1px solid #cccccc; }

.kit-Sum {
  text-align: right;
  margin: 0 0 18px; }

.kit-Sum_Text {
  font-size: 24px;
  font-size: 1.5rem; }

.kit-Sum_TotalValue {
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 40px;
  font-size: 2.5rem;
  color: #ff124b; }

.kit-Sum_SubText {
  font-size: 14px;
  font-size: 0.875rem; }

.kit-Text {
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  margin: 0 0 16px; }

.kit-Text_Notice, .error_Message {
  position: relative;
  border: 1px solid #ff124b;
  margin: 0;
  padding: 10px 0 10px 55px;
  border-radius: 6px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ff124b;
  line-height: 24px; }
  .kit-Text_Notice:before, .error_Message:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 48px;
    height: 55px;
    background: url("../images/step1/chara_3@2x.png") no-repeat center;
    background-size: 100% auto; }
  .kit-Text_Notice .fa-exclamation-triangle, .error_Message .fa-exclamation-triangle {
    font-size: 20px;
    font-size: 1.25rem; }
.error_Message {
  text-align:left !important;
  margin:1em 0; }

.kit-Subtitle_Notice {
  margin: 0 10px 0 0;
  padding: 3px 6px 3px 8px;
  background-color: #ff124b;
  border-radius: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
  color: #ffffff; }

.thanks-CharImg {
  position: relative;
  margin: 0;
  padding: 0; }

.thanks-CharImg_left {
  position: absolute;
  top: -60px;
  left: 570px;
  margin: 0;
  padding: 0;
  width: 130px; }

.thanks-CharImg_right {
  position: absolute;
  top: -70px;
  left: 1100px;
  margin: 0;
  padding: 0;
  width: 146px; }

.thanks-Text {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.6rem; }

.thanks-Text-modal {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0;
  padding: 0 0 0 7px;
  text-align: center;
  line-height: 1.78571; }

.thanks-Text-mb25 {
  margin-bottom: 25px !important; }

.thanks-Text-mb30 {
  margin-bottom: 30px !important; }

.thanks-Text-pt40 {
  padding-top: 40px !important; }

.thanks-Text_Medium {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  margin: 0 0 35px;
  padding: 0;
  text-align: center; }

.thanks-Banner {
  text-align: center;
  margin: 0 0 38px 0;
  padding: 0; }

.thanks-Banner_1 {
  width: 690px;
  margin: 0;
  padding: 0; }

.thanks-Banner_2 {
  width: 690px;
  margin: 0;
  padding: 0; }

.thanks-Content {
  position: relative;
  width: 690px;
  margin: 0 auto 25px;
  padding: 60px 0 15px 0;
  background-color: #f2f2f2; }
  .thanks-Content:before {
    position: absolute;
    top: -130px;
    bottom: 0;
    left: 20px;
    content: '';
    width: 130px;
    height: 155px;
    background: url("../images/step5/chara_5@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .thanks-Content:after {
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 5px;
    content: '';
    width: 147px;
    height: 154px;
    background: url("../images/step5/chara_4@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.thanks-Content_Position {
  position: relative;
  top: -10px; }

.thanks-Content-modal {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 0 0 10px 0; }
  .thanks-Content-modal:before {
    position: absolute;
    top: -52px;
    bottom: 0;
    left: -3px;
    content: '';
    width: 130px;
    height: 155px;
    background: url("../images/step5/chara_5@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .thanks-Content-modal:after {
    position: absolute;
    top: -52px;
    bottom: 0;
    right: -64px;
    content: '';
    width: 147px;
    height: 154px;
    background: url("../images/step5/chara_4@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.thanks-Header_Title {
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  padding: 25px 0;
  margin: 0 auto 30px;
  box-shadow: 0 6px 6px 0 #dbb6c0 inset;
  background-color: #ffd4df;
  text-align: center; }

.thanks-Header_Text {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #ff124b;
  text-align: center;
  line-height: 3rem;
  position: relative;
  left: 10px; }

.thanks-Header_TextPosition {
  position: relative;
  left: 10px;
  top: -4px; }

.modaal-container {
  border-radius: 6px;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3); }

.modaal-close {
  position: absolute;
  right: 0;
  top: -35px;
  width: 30px;
  height: 30px; }
  .modaal-close:focus, .modaal-close:hover {
    outline: none;
    background: transparent; }
  .modaal-close:before, .modaal-close:after {
    top: 1px;
    left: 14px;
    width: 2px;
    height: 28px; }

.modal-Template {
  display: none; }

.modal-Sub-title{
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.71429;
  font-weight: bold;}

.modal-Text-red{
  color:#ff124c}

.modal-Bank .modaal-container {
  max-width: 540px; }

.modal-Bank_Button {
  width: 120px;
  height: 40px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857; }

.modal-Help-shipping {
  padding: 30px; }
  .modal-Help-shipping .modaal-content-container {
    width: 290px; }

.modal-help-shippingText {
  display: block;
  width: 230px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

.modal-Help-assess {
  padding: 30px; }
  .modal-Help-assess .modaal-content-container {
    width: 310px; }
.modal-help-assessText {
  display: block;
  width: 255px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  margin-bottom:0; }
  .modal-help-assessText em {
    font-weight:bold;
    display:block; }
    .modal-help-assessText em span {
      color:#FB074D; }

.modal-Field_Wrapper {
  display: flex;
  flex-wrap: wrap; }

.modal-Field {
  width: 310px;
  margin: 0 0 0 70px;
  display: flex; }

.modal-Field-half {
  width: 310px;
  margin: 0; }
  .modal-Field-half:nth-of-type(2n) {
    width: 270px; }

.modal-Field-selectBank {
  display: flex;
  margin: 0 0 0 10px; }

.modal-Field_Label {
  display: block;
  width: 110px;
  margin: 0  0 15px;
  padding: 0 4px;
  text-align: right;
  line-height: 40px;
  color: #000000; }

.modal-Field_Label-sm {
  font-size: 13px;
  font-size: 0.8125rem; }

.modal-Field_Label-selectBank {
  display: block;
  width: 78px;
  margin: 0 7px 20px 0;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #000000; }

.modal-Field_Widget-multi {
  width: 470px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-around; }
  .modal-Field_Widget-multi > * {
    flex-grow: 0; }

.modal-Field_Widget-boxOther {
  width: 470px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .modal-Field_Widget-boxOther > * {
    flex-grow: 0;
    margin-left: 10px; }

.modal-Field_Hint {
  margin: 5px 0 15px;
  font-size: 12px;
  font-size: 0.75rem; }

.modal-Field_Text-hopeTime {
  margin: 0 0 23px 0;
  padding: 0 0 0 12px;
  line-height: 2; }

.modal-Submit {
  margin: 30px auto 0;
  text-align: center; }

.modal-RadioBox {
  margin: 8px 0 0.5rem; }
  .modal-RadioBox .custom-control-label:before {
    top: 0;
    left: -1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid #999999;
    background-color: #ffffff !important;
    box-shadow: inset 3px 3px 0.2rem rgba(0, 0, 0, 0.1); }
  .modal-RadioBox .custom-control-label:after {
    background-image: none; }
  .modal-RadioBox .custom-control-input:checked ~ .custom-control-label::after {
    content: '\F00C';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 0.1rem;
    left: -1.1rem;
    width: 1.8rem;
    height: 1.8rem;
    color: red;
    z-index: 30;
    background-image: none; }

.modal-Checkbox-optional .custom-control-label:before {
  background-color: #ffffff !important; }

.modal-Text {
  margin: 25px 0 0 0;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem; }

.modal-Text-ml5 {
  margin-left: 5px !important; }

.modal-Text_HeaderTitle {
  color: #ff124b;
  font-size: 40px;
  font-size: 2.5rem;
  text-align: center; }

.modal-Text-RedBold {
  font-size: 28px;
  font-size: 1.75rem;
  color: #ff124b;
  font-weight: bold; }

.modal-Recommend .modaal-content-container {
  padding: 0 0 35px 0; }

.modal-Recommend_Header {
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-display: swap;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: #ffd4e1;
  text-align: center;
  border-radius: 6px 6px 0 0; }
  .modal-Recommend_Header:after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border: solid transparent 8px;
    border-top-color: #ffd4e1;
    pointer-events: none; }

.modal-Recommend_HeaderText {
  margin: 0;
  padding: 0;
  height: auto;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 80px;
  color: #ff124b;
  text-align: center; }

.modal-Recommend_Content {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 23px 0 0; }
  .modal-Recommend_Content:before {
    position: absolute;
    top: 30px;
    left: -10px;
    content: '';
    width: 125px;
    height: 146px;
    background: url("../images/common/charactor/moe_4-modal@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .modal-Recommend_Content:after {
    position: absolute;
    top: 24px;
    right: -10px;
    content: '';
    width: 116px;
    height: 154px;
    background: url("../images/common/charactor/nene_3-modal@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.modal-Recommend_Text {
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75; }

.modal-Recommend_Text-2 {
  margin: 18px 0; }

.modal-Recommend_Text-emphasis {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff124b; }

.modal-Recommend_Submit {
  margin: 0; }

.modal-HopeTime .modaal-content-container {
  width: 310px;
  padding: 20px 30px; }

.modal-Header {
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  border-bottom: #cccccc 2px solid;
  text-align: center; }

.modal-HeaderText {
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold; }

.modal-HopeTime_Content {
  margin: 0 0 0 0.5rem; }

.modal-BankInfo .modaal-content-container {
  max-width: 750px;
  padding: 0 0 60px 0; }

.modal-BankInfo_header {
  border-radius: 6px;
  box-shadow: none; }

.modal-BankInfo_header {
  line-height: 1.30556; }

.modal-Select-selectBank {
  width: 470px;
  height: 140px;
  margin: 5px 0 20px 10px;
  padding: 6px 0 0 6px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

.modal-Login {
  padding: 30px 30px 25px 30px; }
  .modal-Login .modaal-content-container {
    width: 540px; }

.modal-Login_Field {
  width: 320px; }

.modal-Login_Field-2 {
  margin: 4px 0 0 70px; }

.modal-Login_checkbox {
  margin: 10px 0 0 0;
  padding: 0 0 0 75px;
  text-align: center; }

.modal-Login_Text {
  margin: 30px 0 0 0; }

.modal-Checkbox {
  margin: 16px 0 0 0;
  text-align: center; }
  .modal-Checkbox .custom-control-label {
    padding: 0 0 0 12px; }
    .modal-Checkbox .custom-control-label:before {
      top: 0;
      left: -1.5rem;
      width: 1.8rem;
      height: 1.8rem;
      background-color: #ffffff;
      border: 2px solid #999999;
      box-shadow: inset 3px 3px 0.2rem rgba(0, 0, 0, 0.1); }
    .modal-Checkbox .custom-control-label:after {
      top: -3px;
      left: -1.5rem;
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      background-size: 50% 50%; }
  .modal-Checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffffff !important; }
  .modal-Checkbox .custom-control-input:checked ~ .custom-control-label::after {
    content: '\F00C';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    color: red;
    z-index: 30;
    background-image: none; }

.modal-Checkbox-multi {
  min-width: 50%;
  display: inline-block; }

.modal-Checkbox-optional .custom-control-label:before {
  background-color: #ffffff; }

.comfirm-Content {
  width: 690px;
  margin: 0 auto; }

.comfirm-Content_DataTitle {
  margin: 0 0 28px;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold; }

.comfirm-Content_Data {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center; }

.comfirm-Content_Data-textbody {
  font-size: 14px;
  font-size: 0.875rem;
  font-size: 0.875rem; }

.comfirm-Header_Content {
  position: relative;
  width: 690px;
  margin: 0 auto; }

.comfirm-Header_Title {
  margin: 0;
  padding: 0; }

.comfirm-Header_ChangeAnchor {
  position: absolute;
  bottom: -3px;
  right: 0;
  display: block;
  width: 100px;
  height: 35px;
  margin: 0;
  padding: 5px 0 0;
  border-radius: 6px;
  border: 2px solid #cccccc;
  box-shadow: 0 11px 16px -6px #e9e9e9 inset;
  background-color: #ffffff;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  text-decoration: none; }

.comfirm-CouponTicketText {
  width: 470px;
  margin: 30px auto 22px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

.comfirm-ToggleBtn {
  position: relative; }

.comfirm-ToggleBtn_Icon {
  position: absolute;
  top: 25px;
  right: 15px; }

.comfirm-ChangeAnchor {
  position: absolute;
  bottom: -3px;
  right: 0;
  display: block;
  width: 100px;
  height: 35px;
  margin: 0;
  padding: 5px 0 0;
  border-radius: 6px;
  border: 2px solid #cccccc;
  box-shadow: 0 11px 16px -6px #e9e9e9 inset;
  background-color: #ffffff;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  text-decoration: none; }
  .comfirm-ChangeAnchor:hover {
    text-decoration: none;
    background-color: #f2f2f2;
    transition: 0.4s; }

.comfirm-ChangeAnchor-h40 {
  height: 40px;
  padding: 8px 0 0 5px; }

.u-mt--10 {
  margin-top: -10px !important; }

.u-mt-0 {
  margin-top: 0 !important; }

.u-mt-1 {
  margin-top: 1px !important; }

.u-mt-2 {
  margin-top: 2px !important; }

.u-mt-3 {
  margin-top: 3px !important; }

.u-mt-4 {
  margin-top: 4px !important; }

.u-mt-5 {
  margin-top: 5px !important; }

.u-mt-6 {
  margin-top: 6px !important; }

.u-mt-7 {
  margin-top: 7px !important; }

.u-mt-8 {
  margin-top: 8px !important; }

.u-mt-9 {
  margin-top: 9px !important; }

.u-mt-10 {
  margin-top: 10px !important; }

.u-mt-11 {
  margin-top: 11px !important; }

.u-mt-12 {
  margin-top: 12px !important; }

.u-mt-15 {
  margin-top: 15px !important; }

.u-mt-18 {
  margin-top: 18px !important; }

.u-mt-21 {
  margin-top: 21px !important; }

.u-mt-22 {
  margin-top: 22px !important; }

.u-mt-20 {
  margin-top: 20px !important; }

.u-mt-21 {
  margin-top: 21px !important; }

.u-mt-24 {
  margin-top: 24px !important; }

.u-mt-25 {
  margin-top: 25px !important; }

.u-mt-26 {
  margin-top: 26px !important; }

.u-mt-27 {
  margin-top: 26px !important; }

.u-mt-35 {
  margin-top: 35px !important; }

.u-mt-52 {
  margin-top: 52px !important; }

.u-mt-70 {
  margin-top: 70px !important; }

.u-mt-72 {
  margin-top: 72px !important; }

.u-mt-80 {
  margin-top: 80px !important; }

.u-mt-70 {
  margin-top: 70px !important; }

.u-mt-73 {
  margin-top: 73px !important; }

.u-mb-0 {
  margin-bottom: 0 !important; }

.u-mb-3 {
  margin-bottom: 3px !important; }

.u-mb-4 {
  margin-bottom: 4px !important; }

.u-mb-5 {
  margin-bottom: 5px !important; }

.u-mb-6 {
  margin-bottom: 6px !important; }

.u-mb-7 {
  margin-bottom: 7px !important; }

.u-mb-8 {
  margin-bottom: 8px !important; }

.u-mb-10 {
  margin-bottom: 10px !important; }

.u-mb-15 {
  margin-bottom: 15px !important; }

.u-mb-16 {
  margin-bottom: 16px !important; }

.u-mb-17 {
  margin-bottom: 17px !important; }

.u-mb-18 {
  margin-bottom: 18px !important; }

.u-mb-19 {
  margin-bottom: 19px !important; }

.u-mb-20 {
  margin-bottom: 20px !important; }

.u-mb-21 {
  margin-bottom: 21px !important; }

.u-mb-22 {
  margin-bottom: 22px !important; }

.u-mb-23 {
  margin-bottom: 23px !important; }

.u-mb-24 {
  margin-bottom: 24px !important; }

.u-mb-25 {
  margin-bottom: 25px !important; }

.u-mb-26 {
  margin-bottom: 26px !important; }

.u-mb-27 {
  margin-bottom: 27px !important; }

.u-mb-28 {
  margin-bottom: 28px !important; }

.u-mb-30 {
  margin-bottom: 30px !important; }

.u-mb-33 {
  margin-bottom: 33px !important; }

.u-mb-36 {
  margin-bottom: 36px !important; }

.u-mb-70 {
  margin-bottom: 70px !important; }

.u-ml-0 {
  margin-left: 0 !important; }

.u-ml-3 {
  margin-left: 3px !important; }

.u-ml-4 {
  margin-left: 4px !important; }

.u-ml-5 {
  margin-left: 5px !important; }

.u-ml-6 {
  margin-left: 6px !important; }

.u-ml-7 {
  margin-left: 7px !important; }

.u-ml-10 {
  margin-left: 10px !important; }

.u-ml-80 {
  margin-left: 80px !important; }

.u-ml-103 {
  margin-left: 103px !important; }

.u-mr-3 {
  margin-right: 3px !important; }

.u-mr-4 {
  margin-right: 4px !important; }

.u-mr-5 {
  margin-right: 5px !important; }

.u-mr-10 {
  margin-right: 10px !important; }

.u-mr-17 {
  margin-right: 17px !important; }

.u-mr-26 {
  margin-right: 26px !important; }

.u-mr-28 {
  margin-right: 26px !important; }

.u-pt-3 {
  padding-top: 3px !important; }

.u-pt-5 {
  padding-top: 5px !important; }

.u-pt-7 {
  padding-top: 7px !important; }

.u-pt-34 {
  padding-top: 34px !important; }

.u-pb-6 {
  padding-bottom: 6px !important; }

.u-pb-15 {
  padding-bottom: 15px !important; }

.u-pb-28 {
  padding-bottom: 28px !important; }

.u-pb-30 {
  padding-bottom: 30px !important; }

.u-pb-35 {
  padding-bottom: 35px !important; }

.u-pb-63 {
  padding-bottom: 63px !important; }

.u-pb-84 {
  padding-bottom: 84px !important; }
.u-pb-100 {
  padding-bottom: 100px !important; }
.u-pb-200 {
  padding-bottom: 200px !important; }

.u-pr-6 {
  padding-right: 6px !important; }

.u-pr-11 {
  padding-right: 11px !important; }

.u-pl-7 {
  padding-left: 7px !important; }

.u-pr-18 {
  padding-right: 18px !important; }

.u-pr-30 {
  padding-right: 30px !important; }

.u-pr-45 {
  padding-right: 45px !important; }

.u-pl-11 {
  padding-left: 11px !important; }

.u-pl-18 {
  padding-left: 18px !important; }

.u-pl-30 {
  padding-left: 30px !important; }

.u-pl-45 {
  padding-left: 45px !important; }

.u-pl-56 {
  padding-left: 56px !important; }

.js_tab {
  list-style-type: none;
  padding: 0; }

.js_tab_content {
  display: none; }

.js_tab_current_content {
  display: block; }

#cv-top {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:20px; }
#cv-left {
  position:fixed;
  top:0;
  left:0;
  width:20px;
  height:100vh; }

/*# sourceMappingURL=style.css.map*/