@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);
html {
  overflow-y: scroll;
}
body {
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
}

.btn {
  transition: color 0.1s ease-in-out,background-color 0.1s ease-in-out,border-color 0.1s ease-in-out,box-shadow 0.1s ease-in-out;
  padding: 4vw 4vw;
  position: relative;
}
.cf:after {
    content:"";
    display:block;
    clear:both;
}
.sw-Header_Main {
    width: 100%;
    margin: 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15); }

.sw-Header_MainInner {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }

.sw-Header_Logo {
    float: left;
    width: 25vw;
    margin: 0; }
.sw-Header_Logo img {
    width: 21vw; }

.sw-Header_FlowList {
    float: right;
    width: 70vw;
    margin: 3vw 0;
    padding: 0;
    list-style-type: none;
    text-align: right; }

.sw-Header_FlowItem {
  float: left;
  position: relative;
  width: 22vw;
  margin: 0 5vw 0 0;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-size: 3.2vw;
  line-height: 7vw;
  color: #000;
  border: 2px solid #999999;
  border-right-style: none;
  border-radius: 6px 0 0 6px; }
  .sw-Header_FlowItem:before {
    position: absolute;
    right: -3.6vw;
    bottom: 0.8vw;
    transform: rotate(-37deg);
    border-bottom: 2px solid #999999;
    content: '';
    width: 6.2vw;
    height: 7vw; }
  .sw-Header_FlowItem:after {
    position: absolute;
    right: -3.6vw;
    top: 0.6vw;
    transform: rotate(-52deg);
    border-right: 2px solid #999999;
    content: '';
    width: 5.8vw;
    height: 6.4vw; }
  .sw-Header_FlowItem:last-child {
    width: 16vw;
    margin: 0;
    padding-left: 0;
    border-right-style: solid;
    border-radius: 6px; }
    .sw-Header_FlowItem:last-child:before, .sw-Header_FlowItem:last-child:after {
      display: none; }

@media (min-width: 768px) {
  .sw-Header_FlowItem:before {
    position: absolute;
    right: -3.2vw;
    bottom: 0.9vw;
    transform: rotate(-37deg);
    border-bottom: 2px solid #999999;
    content: '';
    width: 6vw;
    height: 7vw; }
  .sw-Header_FlowItem:after {
    position: absolute;
    right: -3.4vw;
    top: 0.95vw;
    transform: rotate(-52deg);
    border-right: 2px solid #999999;
    content: '';
    width: 5.8vw;
    height: 6vw; }
}

.sw-Header_FlowItem-active {
  color: #6cb23c;
  border-color: #6cb23c; }
  .sw-Header_FlowItem-active:before {
    border-bottom-color: #6cb23c; }
  .sw-Header_FlowItem-active:after {
    border-right-color: #6cb23c; }

.sw-Header_FlowItem-visited {
  opacity: 0.3; }

.sw-Main {
  margin: 0;
  padding: 0; }

.sw-Section_Header {
  position: relative;
  margin: 2.5vw auto 13vw;
  padding: 4.4vw 0;
  text-align: center;
  color: #ffffff;
  background: #6cb23c url(../images/); }
  .sw-Section_Header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border: 2.5vw solid transparent;
    border-top: 2.5vw solid #ffffff; }

.sw-Section_TitleMark {
  position: relative;
  margin: 0 auto; }
  .sw-Section_TitleMark:before {
    position: absolute;
    top: -3.2vw;
    left: 1.8vw;
    content: '';
    width: 11vw;
    height: 11vw; }

.sw-Section_TitleMark-step0:before,
.sw-Section_TitleMark-step1:before {
  background: url("../images/step0/page-header-icon_1@2x.png") no-repeat;
  background-size: 100% auto; }

.sw-Section_TitleMark-step2:before {
  background: url("../images/step2/page-header-icon_2@2x.png") no-repeat;
  background-size: 100% auto;
  left: 12vw; }

.sw-Section_TitleMark-step3:before {
  background: url("../images/step3/page-header-icon_3@2x.png") no-repeat;
  background-size: 100% auto;
  left: 33.2vw; }

.sw-Section_TitleMark-step4:before {
  background: url("../images/step7/page-header-icon_4@2x.png") no-repeat;
  background-size: 100% auto; }

.sw-Section_TitleMark-step6:before {
  background: url("../images/step7/page-header-icon_4@2x.png") no-repeat;
  background-size: 100% auto;
  left: 29vw; }

.sw-Section_TitleMark-step7:before {
  background: url("../images/step7/page-header-icon_4@2x.png") no-repeat;
  background-size: 100% auto;
  top: -6.93vw;
  left: 0.53vw; }

.sw-Section_Title {
  margin: 0;
  padding: 0 0 0 16vw;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 4.2vw;
  text-align: left; }

.sw-Section_Hr {
  margin: 0;
  border-bottom: 2px solid #cccccc;
  border-top: none; }

.sw-SubSection {
  width:95vw;
}

.sw-SubSection_Title {
    position: relative;
    margin: 5vw 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 3.6vw;
    font-weight: bold;
    line-height: 2.4em;
    background-color: #989898;
    border-radius: 6px; }

.sw-SubSection_TitleHelp {
  position: absolute;
  right: 0;
  bottom: -10vw;
  margin: auto;
  z-index: 999; }
  h2 .sw-SubSection_TitleHelp {
    right: 2.5vw;
    bottom: -12vw;
  }

.sw-SubSection_Content {
  position: relative;
  margin: 8vw 0;
  padding: 0; }

.sw-SubSection_Content-initDis {
  margin: 8vw 0 0;
  padding: 0; }

.sw-Footer {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding: 2.66vw 0 2.66vw;
  background-color: #6cb23c;
  box-shadow: 0px -3px 20px 0px #c5c5c5;
  font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI", YuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  text-align: center;
  color: #ffffff; }

.sw-Footer_PermitNumber {
  margin: 0;
  display: inline-block;
  font-size: 3.2vw;
  letter-spacing: 0.02rem; }

.sw-Footer_Copyright {
  display: block;
  margin: 1.6vw 0 0;
  font-size: 2.66vw;
  letter-spacing: 0.02rem; }

.sw-Footer-mb20 {
  margin-bottom: 5.33vw; }

.welcome-Wrapper {
  margin: 0;
  background-color: #ffd4e1;
  box-shadow: 0 1vw 1vw 0 #dbb6c0 inset; }

.welcome-Inner {
  width: 95vw;
  margin: 0 auto;
  height: 16vw; }
  .welcome-Inner::after {
    display: block;
    clear: both;
    content: ""; }

.welcome-Character {
  float: left;
  position: relative;
  width: 17vw;
  height: 16vw;
  margin: 0;
  padding: 0.5vw;
  background: url(../images/common/header/vector@2x.png) no-repeat right center;
  background-size: contain; }
  .welcome-Character img {
    width: 12.0vw; }

.welcome-Copy {
  float: right;
  width: 74vw;
  padding: 2.2vw 0; }

.welcome-Copy_Text {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-display: swap;
  font-size: 3.7vw;
  color: #ff124c; }

.welcome-Copy_Anchor {
  font-size: 3.2vw;
  color: #332a2d;
  text-decoration: underline; }

.form-Field_Wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.form-Fields {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap; }

.form-Field {
  width: 100%;
  margin: 0 auto 5vw;
  display: flex;
  flex-wrap: wrap; }

.form-Field-half {
  flex-basis: 48.5%;
  max-width: 48.5%;
  margin-right: 3%; }
  .form-Field-half:nth-of-type(2n) {
    margin-right: 0%; }

.form-Field-half + .form-Field-half {
}

.form-Field-selectBank {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .form-Field-selectBank > * {
    flex-grow: 0; }

.form-Field_Label {
  display: block;
  flex-basis: 100%;
  margin: 0  0 1.5vw;
  padding: 0;
  text-align: left;
  font-size: 3.46vw;
  color: #000000; }
.form-Field_Label.twoline{
  line-height: 1.4em;
}
.form-Field_Label-custumerQues {
  padding-left: 10.4vw !important;
  padding-top: 1.8vw !important;
  font-size: 4vw !important; }
.form-Field_Label-custumerQues-small {
  font-size: 3.2vw !important; }

.sw-SubSection_Content_Step5_Cust {
  width: 71vw;
  margin: auto;
}
.sw-SubSection_Content_Step5_Cust .form-ToggleBtn {
  width:100%; }

.form-Field_Label-selectBank {
  display: block;
  width: 29.3vw;
  margin: 0 0 4vw 0;
  padding: 0 1.06vw;
  text-align: right;
  font-size: 3.46vw;
  line-height: 10.6vw;
  color: #000000; }

.form-Field_Widget-multi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form-Field_Widget-multi > * {
    flex-grow: 0; }

.form-Field_Widget-boxOther {
  width: 125vw;
  margin: 0 auto 2.66vw;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .form-Field_Widget-boxOther > * {
    flex-grow: 0;
    margin-left: 2.66vw; }

.form-Field_Widget-selectCalender {
  text-align: center; }

.form-Field_Widget-selectBank {
  width: 61.3vw;
  height: 10.6vw;
  margin: 0;
  border: 2px solid #999999;
  padding: 2.66vw;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.15) inset;
  font-size: 3.73vw;
  line-height: 1.42857;
  text-align: center; }

.form-Field_Widget-selectType {
  display: inline-block;
  font-size: 3.73vw;
  line-height: 1.42857; }
  .form-Field_Widget-selectType input[type=radio] {
    display: none; }
  .form-Field_Widget-selectType:nth-of-type(1) {
    margin: 1.33vw 0 0 0; }

.form-Field_Widget-couponInput {
  display: inline-block;
  padding: 0;
  text-align: center; }

.form-Field_Widget-mb10 {
  margin-bottom: 2.66vw; }

.form-Field_Widget-mr10 {
  margin-right: 2.66vw; }

.form-Field_Widget-width476 {
  width: 121vw; }

.form-Field_Hint {
  margin: 1.33vw 0 4vw;
  font-size: 3.2vw; }

.form-InputText {
  margin:auto;
  height: 13vw;
  font-size: 5vw;
  padding: 0 2vw 0vw;
  background-color: #fff9d4;
  border: 2px solid #999999;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.15) inset; }

.form-InputText:focus {
  outline: 0;
  border-color: #999999;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.15) inset; }

.form-InputText-optional {
  background-color: #ffffff !important; }

.form-InputText-error {
  background-color: #ffdde5 !important; }

.form-InputText-another {
  width: 85vw;
  margin: 1.5vw auto; }

.form-InputText_Placeholder-black::-moz-placeholder {
  color: #000; }

.form-InputText_Placeholder-black:-ms-input-placeholder {
  color: #000; }

.form-InputText_Placeholder-black::-webkit-input-placeholder {
  color: #000; }

.form-InputText-numBoxOver {
  width: 22.6vw;
  margin: 0 2.66vw 0 1.33vw; }

.form-InputText_TextArea {
  width: 100%;
  height: 37.3vw;
  border: 2px solid #999999;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 4px 4px 16px -8px #999999 inset;
  background-color: #fff9d4; }

.form-Field_Widget {
  font-size: 4.3vw;
  position:relative;
  width:100%;
}

.form-Select {
  margin:auto;
  height: 13vw;
  font-size: 5vw;
  padding: 2.4vw 2vw;
  position: relative;
  color: #000000;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20data-prefix%3D%22fas%22%20data-icon%3D%22chevron-circle-down%22%20class%3D%22svg-inline--fa%20fa-chevron-circle-down%20fa-w-16%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22#999999%22%20d%3D%22M504%20256c0%20137-111%20248-248%20248S8%20393%208%20256%20119%208%20256%208s248%20111%20248%20248zM273%20369.9l135.5-135.5c9.4-9.4%209.4-24.6%200-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9%200L256%20285.1%20154.4%20183.5c-9.4-9.4-24.6-9.4-33.9%200l-17%2017c-9.4%209.4-9.4%2024.6%200%2033.9L239%20369.9c9.4%209.4%2024.6%209.4%2034%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-image: url("../images/common/marks/font-awesome_4-7-0_chevron-circle-down_16_0_999999_none.png");
  background-position: right 2vw center;
  background-size: 5vw 5vw;
  background-repeat: no-repeat;
  border: 2px solid #999999;
  border-radius: 6px;
  box-shadow: 4px 4px 16px -8px #999999 inset;
  background-color: #fff9d4;
  -webkit-appearance: none;
  -moz-appearance: none; }

.form-Select:focus {
  outline: 0 !important;
  border-color: #999999;
  box-shadow: none; }

.form-Select-optional {
  background-color: #ffffff; }

.form-ToggleBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72vw;
  height: 22vw;
  padding: 0;
  text-align: center;
  font-size: 5.4vw;
  line-height: 1.2;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #999999;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15) inset; }
  .form-ToggleBtn input[type=radio] {
    display: none; }
  .form-ToggleBtn:hover {
    border: 2px solid #6cb23c;
    color: #6cb23c; }
    .form-ToggleBtn:hover .form-ToggleBtn_Icon {
      color: #6cb23c; }
  .form-ToggleBtn input:checked {
    border: 2px solid #6cb23c;
    color: #ffffff;
    background-color: #6cb23c;
    box-shadow: none; }
    .form-ToggleBtn input:checked .form-ToggleBtn_Icon {
      color: #ffffff; }
  .form-ToggleBtn:active, .form-ToggleBtn.active, .form-ToggleBtn.forcus {
    border: 2px solid #6cb23c;
    color: #ffffff;
    background-color: #6cb23c;
    box-shadow: none; }
    .form-ToggleBtn:active .form-ToggleBtn_Icon, .form-ToggleBtn.active .form-ToggleBtn_Icon, .form-ToggleBtn.forcus .form-ToggleBtn_Icon {
      color: #ffffff; }

.btn-group-toggle > .btn + .btn {
  margin-top:5vw;
}

.form-ToggleBtn-sm {
  justify-content: flex-start;
  width: 42.6vw;
  height: 16vw;
  margin: 0 0 0 2.66vw;
  padding: 0 4vw;
  text-align: left; }
  .form-ToggleBtn-sm:nth-of-type(1) {
    margin: 0; }

.form-ToggleBtn-selectBank {
  width: 61.3vw;
  height: 13vw;
  margin-bottom: 3.2vw !important; }

.form-Field-selectBank .form-ToggleBtn-selectNetBank {
  height:16vw;
}

.form-ToggleBtn-width86 {
  width: 22.9vw; }

.form-ToggleBtn-width150 {
  width: 40vw; }

.form-ToggleBtn_Text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-display: swap;
  display: block;
  text-align: center; }
  .form-ToggleBtn_Text.larger {
    font-size: 5vw; }

.form-ToggleBtn_Text-sm {
  font-size: 5.4vw;
  left: -1vw;
  position: relative;
  line-height: 1.2em; }

.form-ToggleBtn_Text-selectBank {
  display: inline-block;
  padding: 0 2.13vw 0 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4.5vw;
  line-height: 1.42857; }

.form-Text-selectBank {
  display: inline-block;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-size: 4vw;
  font-weight: 900;
  position: relative;
  left: 0;
  top: 0;
  letter-spacing: 0.1em; }

.form-ToggleBtn_Icon {
  position: absolute;
  width: 6vw;
  height: 6vw;
  top: 1vw;
  bottom: 0;
  right: 3vw;
  margin: auto;
  color: #999999; }
  .form-ToggleBtn-sm .form-ToggleBtn_Icon {
    right: 1.33vw; }

.form-ToggleBtn_Icon-selectBank {
  top: 2.4vw; }

.form-ToggleBtn_Icon-check {
  color: #ebebeb; }

.form-Checkbox {
  margin: 1.56vw 0 2.66vw 0; }
  .form-Checkbox .custom-control-label {
    padding: 0 0 0 3.2vw; }
    .form-Checkbox .custom-control-label:before {
      top: 0;
      left: 0;
      width: 9vw;
      height: 9vw;
      background-color: #fff9d4;
      border: 2px solid #999999;
      box-shadow: inset 3px 3px 0.2rem rgba(0, 0, 0, 0.1); }
    .form-Checkbox .custom-control-label:after {
      top: 0;
      left: -1.5rem;
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      background-size: 50% 50%; }
  .form-Checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffffff !important; }
  .form-Checkbox .custom-control-input:checked ~ .custom-control-label::after {
    content: '\F00C';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 7vw;
    line-height: 9vw;
    position: absolute;
    top: 0;
    left: 1vw;
    width: 9vw;
    height: 9vw;
    color: red;
    z-index: 30;
    background-image: none; }

.form-Checkbox-multi {
  min-width: 50%;
  display: inline-block; }

.form-Checkbox-optional .custom-control-label:before {
  background-color: #ffffff; }

.form-Checkbox_Text-ml15 {
  margin-left: 4vw; }

.form-Radio input[type=radio] {
  display: none; }

.form-Radio .custom-control-label:before {
  top: 0.4vw;
  left: -7vw;
  width: 5vw;
  height: 5vw;
  background-color: #ffffff;
  border: 2px solid #999999;
  box-shadow: inset 3px 3px 0.2em rgba(0, 0, 0, 0.1); }

.form-Radio .custom-control-label:after {
  top: 1.3vw;
  left: -6vw;
  display: block;
  width: 3.04vw;
  height: 3.05vw;
  background-image: none;
  background-color: transparent;
  border-radius: 100%; }

.form-Radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ffffff; }

.form-Radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  background-color: #6cb23c; }

.form-Radio_Icon-comfirm {
  display: inline-block; }

.form-Radio_Icon-check {
  color: #ebebeb;
  position: absolute;
  top: 2.66vw;
  right: 2.66vw; }

.calender_Panel {
  background-color: #F1F1F1;
  padding: 2.13vw 8vw;
  width: 125vw;
  box-sizing: content-box;
  margin: 5.33vw auto; }

.form-Calendar {
  width: 100%;
  margin: 0 auto; }

.collectDatetime .caption,
.form-Calendar .caption {
  border-bottom: 2px solid #cccccc;
  margin: 0 0 1vw;
  padding: 0 0 2vw;
  font-size: 4vw;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.form-Calender_Table {
  width: 100%;
  margin: 6vw 0 4vw; }
  .form-Calender_Table caption {
    caption-side: top;
    border-bottom: 2px solid #cccccc;
    margin: 0 0 1vw;
    padding: 0 0 2vw;
    font-size: 4vw;
    text-align: center;
    color: #000;
    font-weight: bold; }

.form-Calender_Cell {
  position:relative;
  font-size: 3vw;
  text-align: center;
  font-weight: normal;
  padding: 1.2vw 1.2vw; }
  .form-Calender_Cell .btn {
    padding: 0;
    font-size: 4vw;
    line-height: 4vw;
    text-align:center;
    width: 100%;
    height: 11vw;
    background-color: #fff;
    color: black;
    border: 2px solid #999999;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15) inset; }
    .form-Calender_Cell .btn:hover, .form-Calender_Cell .btn.selected {
      color: #ffffff;
      background-color: #6cb23c;
      border: 2px solid #6cb23c; }
    .form-Calender_Cell .btn.selected:after {
      content: "";
      position: absolute;
      bottom: -2.5vw;
      right: -0.5vw;
      width: 8vw;
      height: 6.5vw;
      background: url(../images/step2/calender-icon-truck@2x.png) center center no-repeat;
      background-size: contain;
    }
    .form-Calender_Cell .btn:disabled, .form-Calender_Cell .btn:disabled:hover {
      opacity: 0.3;
      color: inherit;
      border: 2px solid #999999;
      pointer-events: none; }

.form-Calender_Cell-sun {
  color: #ff124c; }
  .form-Calender_Cell-sun .btn {
    color: #ff124c; }

.form-Calender_Cell-sat {
  color: #267bd2; }
  .form-Calender_Cell-sat .btn {
    color: #267bd2; }

.form-Calender_Cell-kitDate {
  position: relative; }
  .form-Calender_Cell-kitDate .btn:hover {
    color:#ffffff !important;

  }
  .form-Calender_Cell-kitDate:after {
    content: "";
    position: absolute;
    bottom: -1vw;
    right: -0.5vw;
    width: 8vw;
    height: 6.5vw;
    background: url(../images/step2/calender-icon-package@2x.png) center center no-repeat;
    background-size: contain; }
  .form-Calender_Cell-kitDate .btn {
    border-color: #6cb23c !important;
    background-color: #6cb23c !important;
    color:#ffffff !important;
    opacity: 1 !important; }
  .cargo-Select .form-Calender_Cell-kitDate .btn {
    border-color: #999999 !important;
    background-color: #ffff !important;
    color:#000000 !important;
     }

.form-Text {
  letter-spacing: 0.04em;
  font-size: 3.6vw; }

.form-Text_TextAline-right {
  text-align: right; }

.form-Text_UnderLine {
  border-bottom: black 1px solid; }

.form-Text_Icon {
  margin: 0 1.33vw; }

.form-Text_Confirm {
  font-size: 3.8vw;
  line-height: 2.5; }

.form-Text_Coupon {
  position: relative;
  text-align: center;
  font-size: 4.26vw;
  line-height: 1.5;
  font-weight: bold;
  color: #fc034e; }
  .form-Text_Coupon::before {
    content: '';
    width: 9.06vw;
    height: 9.06vw;
    background: url("../images/step6/slash_left@2x.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 8.6vw;
    left: 2.6vw; }
  .form-Text_Coupon::after {
    content: '';
    width: 9.06vw;
    height: 9.06vw;
    background: url("../images/step6/slash_right@2x.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 8.6vw;
    right: 3.5vw; }

.form-Text-numBoxOver {
  line-height: 1.71429; }

.form-Text-anyMark {
  padding: 0.4vw 3.2vw 0.2vw;
  margin: 0 0 0 5vw;
  background-color: #fff;
  border-radius: 3px;
  font-size: 3.4vw;
  font-weight: normal;
  color: #080809;
  position: absolute;
  top: 1.5vw;
  right: 5vw; }

.form-Content_Title_Coupon {
  text-align: left;
  padding-left: 5vw;
  letter-spacing: 0.04em; }

.form-Button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-size: 4vw;
  width: 57vw;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  border: #6cb23c 2px solid;
  border-radius: 14.4vw;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset;
  line-height: 1.2;
  background-color: #fff;
  color: #6cb23c; }
  .form-Button:hover {
    background-color: #6cb23c;
    color: #fff;
    box-shadow: none; }

.form-Button_Icon-size18 {
  font-size: 4.8vw; }

.form-Button-green {
  border-color: #6cb23c;
  color: #6cb23c; }
  .form-Button-green:hover {
    background-color: #6cb23c;
    color: #fff; }

.form-Button-orange {
  border-color: #ff5200;
  color: #ff5200; }
  .form-Button-orange:hover {
    background-color: #ff5200;
    color: #fff; }

.form-Button-bgOrange {
  background-color: #ff5200;
  border: #ff5200 2px solid;
  box-shadow: none;
  color: #fff; }
  .form-Button-bgOrange:hover {
    background-color: #fff;
    border: #ff5200 2px solid;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset;
    color: #ff5200; }

.form-Button_Icon {
  position: absolute;
  right: 4vw; }

.form-Button_Icon-prev {
  top: 4.8vw;
  right: auto;
  left: 6.66vw; }

.form-Button_Icon-member {
  position: absolute;
  top: 0.36vw;
  right: 4.5vw; }

.form-Button_Icon-new {
  position: absolute;
  top: 6.66vw;
  right: 4vw; }

.form-Button_Chara {
  position: relative;
  display: inline-block; }

.form-Button_Chara .form-Button {
  width: 85vw;
  font-size: 4.3vw;
  line-height: 12vw;
  padding: 0 0 0vw 10vw;
  text-align: left; }

.form-Button_Chara .form-Button em {
  font-style: inherit;
  font-weight: 900; }

.form-Button_Chara .form-Button-small {
  position: relative;
  font-size: 4.21vw;
  width: 53.6vw;
  text-align: center;
  padding: 2.8vw 2.2vw 2.8vw 0;
  line-height: 4vw;
  height: auto; }
  .form-Button-small .form-Button_Icon {
    position: absolute;
    top: 2.9vw;
    right: 4vw; }

.form-Button_Chara-nene2 .form-Button {
  text-align: center;
  padding-left: 0; }

.form-Button_Chara-nene2:after {
  width: 16vw;
  height: 16vw;
  background-image: url("../images/common/charactor/nene_2@2x.png");
  top: -13.3vw;
  left: 4vw; }

.form-Button_SubText {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: 3.2vw; }

.form-Button_Text-serchBank,
.form-Button-autoAddress {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-size: 3.73vw; }

.form-Button_CharaNene1-list {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-display: swap;
  width: 71.3vw;
  margin: 0 auto;
  padding: 5.33vw 0 8vw;
  list-style-type: none;
  background-color: #f2f2f2;
  border-radius: 2.66vw; }
  .form-Button_CharaNene1-list li {
    padding: 1.2vw 0; }
    .form-Button_CharaNene1-list li p {
      margin: 0 auto; }

.form-Button_CharaNene1-list--text {
  font-size: 4.25vw;
  font-weight: 900;
  letter-spacing: 0.05em; }

.form-Button-SearchBank {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 13vw;
  width: 100%;
  vertical-align: top;
  font-size: 4.2vw;
  line-height: 1em;
  text-decoration: none; }
.form-Button-SearchBank i {
  left: -2vw;
  position: relative; }

.form-Button_Text-autoAddress {
  position:absolute;
  right:0;
  bottom:0;
  height: 13vw;
  width: 48vw;
  vertical-align: top;
  font-size: 4.2vw;
  line-height: 1em;
}
.form-Button_Text-autoAddress i {
  margin: 0 -1em 0 1em; }

.form-Button-width150 {
  width: 40vw; }

.form-Button_height60 {
  height: 16vw; }

.form-Content {
  margin: 0 auto;
  position: relative; }

.form-Content_Inner {
  width: 100%;
  margin: 0 auto; }

.form-Content_Wrapper {
  display: flex;
  flex-wrap: wrap; }

.form-Content_List {
  margin: 12vw 0 0 0;
  padding: 0;
  list-style-type: none; }

.form-Content-hide {
  display: none; }

.form-Title_Sub {
  height: 10.6vw;
  margin: 0;
  padding: 2.13vw 0 0 0;
  background-color: #f2f2f2;
  font-size: 4.26vw;
  line-height: 1.5;
  text-align: center;
  vertical-align: center;
  font-weight: bold; }

.form-Title_SubTriangle {
  position: relative;
  bottom: 0;
  width: 16vw;
  margin: 0 auto;
  background: #f2f2f2; }

.form-Title_SubTriangle:after,
.form-Title_SubTriangle:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.form-Title_SubTriangle:after {
  border-top-color: #f2f2f2;
  border-width: 2.13vw;
  margin-left: -2.66vw; }

.form-Title_SubTriangle:before {
  border-width: 9.6vw;
  margin-left: -9.6vw; }

.form-Submit {
  position:relative;
  margin: 10vw auto 0;
  text-align: center; }

.purchase-Content-1 {
  margin: 0;
  border-top: none;
  padding: 3.6vw 3.2vw; }

.purchase-Content-2 {
  margin: 0;
  border-top: none;
  padding: 0; }

.purchase-Content_Inner {
  margin: 0;
  padding: 0 3.2vw;
  background-color: #f2f2f2; }

.purchase-Detail_Table {
  width: 100%; }

.purchase-Detail_Title {
  font-size: 3.6vw;
  margin: 0;
  padding: 2.66vw 0 1.33vw;
  background-color: #999999;
  text-align: center;
  color: #ffffff; }

.purchase-Detail_Row {
  border-bottom: 1px solid #cccccc;
  padding: 0; }
  .purchase-Detail_Row:nth-last-child(2) {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 2.66vw; }
  .purchase-Detail_Row:nth-last-child(1) {
    border: none; }

.purchase-Detail_RowTitle {
  padding: 2vw 0;
  width: 49vw;
  font-size: 3.8vw;
  font-weight: normal; }

.purchase-Detail_RowTitle-total {
  font-size: 3.8vw;
  font-weight: bold; }

.purchase-Detail_SubtotalNum {
  padding: 2vw 0;
  font-size: 3.6vw;
  text-align: right; }
  .purchase-Detail_SubtotalNum:nth-of-type(1) {
    padding: 0; }

.purchase-Detail_Price {
  padding: 2vw 0;
  font-size: 4vw;
  text-align: right;
  color: #ff124b;
  font-weight: bold; }

.purchase-Detail_TotalPrice {
  padding: 2vw 0;
  font-size: 4.5vw;
  text-align: right;
  color: #ff124b;
  font-weight: bold; }

.purchase-Item_Table {
  width: 100%; }

.purchase-Item_Row {
  border-bottom: 1px solid #cccccc; }

.purchase-Item_Row:last-of-type {
  border-bottom: none }

.purchase-Item_Name {
  width: 65vw;
  padding: 1.5vw 0;
  font-size: 3.2vw; }
  .purchase-Item_Name :nth-of-type(1) {
    padding: 0 0 1.33vw; }

.purchase-Item_Price {
  padding: 1.5vw 0;
  font-size: 4vw;
  font-weight: bold;
  color: #ff124b;
  text-align: right;
  vertical-align: top; }

.purchase-Wrapper {
  width: 95vw;
  margin: 0 auto; }

.purchase-Summary {
  position: relative;
  margin: 21vw auto 0;
  border: 2px solid #ff124b;
  padding: 1vw 0 2vw;
  border-radius: 9vw;
  font-size: 3.6vw;
  box-shadow: 0 11px 16px -6px #e9e9e9 inset;
  text-align: center; }

.purchase-Summary_Table {
  margin: 1vw 0 0 4vw; }

.purchase-Summary_TextCell {
  font-size: 3vw;
  font-weight:bold;
  padding: 0; }
  .purchase-Summary_TextCell :nth-of-type(2) {
    margin: 0 0 0 2.66vw; }

.purchase-Summary_TotalItems {
  padding: 0 3vw 0 0;
  font-size: 4vw;
  font-weight: bold;
  color: #ff124b; }

.purchase-Summary_TotalPrice {
  font-size: 4vw;
  font-weight: bold;
  color: #ff124b; }

.purchase-Summary_Comment {
  margin: 0 0 0 -7vw;
  font-size: 3.2vw; }

.purchase-Summary_Icon {
  position: absolute;
  right: 5vw;
  top: 6vw;
  bottom: 0;
  color: #ff124b; }

.purchase-Container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block; }

.purchase-Close {
  position: relative;
  text-align: center;
  margin: 3vw 0 4vw;
  cursor: pointer; }

.purchase-Close_Icon {
  margin-left: 1vw;
  font-size:3.6vw; }

.purchase-Close_Text {
  display: inline-block;
  border-bottom: 1px solid #000;
  font-size: 3.8vw; }

.kit-Img_Unit {
  margin: 0 auto 2vw; }

.kit-Img_Unit-large {
  width: 100%; }

.kit-Img_Unit-medium {
  width: 100%; }

.kit-Img_Unit-small {
  width: 100%;
  margin: 4.6vw 0 1.4vw; }

.kit-Img_Unit-only {
  width: 100%;
  margin: 7.4vw 0 7vw; }

.kit-Img {
  position: relative;
  top: 0;
  bottom: 0; }

.kit-Img-large {
  width:41vw;
  right: -3vw; }

.kit-Img-medium {
  width: 41vw;
  right: -2vw; }

.kit-Img-small {
  width: 35vw;
  right: -3vw; }

.kit-Img-only {
  right: -2vw;
  top: -3vw;
  width: 36vw; }

.kit-Img_Title {
  font-size:3.8vw;
  margin: 3vw 0 0 0;
  text-align: center; }

.kit-Img_Title-small {
  margin: 3vw 0 0 0;
  text-align: center;
  font-size: 3.8vw; }

.kit-Img_Title-only {
  margin: 0 0 0; }

.kit-Img_SizeText {
  display: block;
  font-size: 2.93vw; }

.kit-Img_SizeText-large {
  margin: 0 0 0 0; }

.kit-Img_SizeText-medium {
  margin: 0 0 0 0; }

.kit-Img_SizeText-small {
  margin: 0.53vw 0 1.6vw 0; }

.kit-Img_SizeText-only {
  margin: 0.53vw 1.6vw 0 0; }

.kit-List {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #cccccc;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.kit-List_Item {
  flex-basis: 48%;
  margin: 0 0 5vw;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.kit-List_Item:nth-of-type(n+3) {
  border-top: 1px solid #cccccc; }

.kit-List_Item .text-center {
  margin-top:auto; }

.kit-Sum {
  text-align: right;
  margin: 0 0 4.8vw; }

.kit-Sum_Text {
  font-size: 4vw; }

.kit-Sum_TotalValue {
  display: inline-block;
  margin: 3vw 0 0 4vw;
  font-size: 9vw;
  color: #ff5204;
  font-weight:bold; }

.kit-Sum_SubText {
  font-size: 3.2vw; }

.kit-Text {
  font-size: 3.6vw;
  text-align: center;
  margin: 0 0 3vw; }

.kit-Text_Notice, .error_Message {
  position: relative;
  border: 1px solid #ff124b;
  margin: 0;
  padding: 3vw 0 3vw 18vw;
  border-radius: 6px;
  font-size: 4vw;
  color: #ff124b;
  line-height: 1.5em; }
  .kit-Text_Notice:before, .error_Message:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 14vw;
    height: 16vw;
    background: url("../images/step1/chara_3@2x.png") no-repeat center;
    background-size: 100% auto; }
  .kit-Text_Notice .fa-exclamation-triangle, .error_Message .fa-exclamation-triangle {
    font-size: 5vw; }
.error_Message {
  text-align:left !important;
  margin:1em 0; }

.kit-Subtitle_Notice {
  margin: 0 1vw 0 0;
  padding: 0.4vw 3vw 0.2vw;
  background-color: #ff124b;
  border-radius: 3px;
  font-size: 3vw;
  font-weight: normal;
  color: #ffffff;
  vertical-align:middle; }

.thanks-CharImg {
  position: relative;
  margin: 0;
  padding: 0; }

.thanks-CharImg_left {
  position: absolute;
  top: -16vw;
  left: 152vw;
  margin: 0;
  padding: 0;
  width: 34.6vw; }

.thanks-CharImg_right {
  position: absolute;
  top: -18.6vw;
  left: 293vw;
  margin: 0;
  padding: 0;
  width: 38.9vw; }

.thanks-Text {
  letter-spacing: 0.04em;
  font-size: 3.6vw;
  margin: 0;
  padding: 4.8vw;
  text-align: center;
  line-height: 1.7em;
  left: 3.2vw;
  position: relative; }

.thanks-Text-modal {
  font-size: 3.73vw;
  margin: 0;
  padding: 0 0 0 1.86vw;
  text-align: center;
  line-height: 1.78571; }

.thanks-Text-mb25 {
  margin-bottom: 6.66vw !important; }

.thanks-Text-mb30 {
  margin-bottom: 6.66vw !important; }

.thanks-Text-pt40 {
  padding-top: 10.6vw !important; }

.thanks-Text_Medium {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: 4.1vw;
  line-height: 1.5em;
  margin: 0 0 7.2vw;
  padding: 0;
  text-align: center;
  position: relative;
  left: 2vw;
  letter-spacing: 0.05em; }

.thanks-Text_Button {
  width: 85vw;
  font-size: 5.4vw;
  border-radius: 8vw;
  line-height: 1.3em;
  padding-left: 9vw; }

.thanks-Content-Submit .thanks-Text {
  font-weight: 500;
  padding: 7vw 0 1vw;
  left: 2.6vw }

.thanks-Banner {
  text-align: center;
  margin: 0 0 7.1vw 0;
  padding: 0; }

.thanks-Banner_1 {
  width: 95vw;
  margin: 1vw 0 0 0;
  padding: 0; }

.thanks-Banner_2 {
  width: 95vw;
  margin: 0;
  padding: 0; }

.thanks-Content {
  position: relative;
  width: 100%;
  margin: 0 auto 8vw;
  padding: 3.9vw 0 3vw 0;
  background-color: #f2f2f2; }

.thanks-Content_Position {
  position: relative; }

.thanks-Content-modal {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 0 0 2.66vw 0; }
  .thanks-Content-modal:before {
    position: absolute;
    top: -52px;
    bottom: 0;
    left: -3px;
    content: '';
    width: 130px;
    height: 155px;
    background: url("../images/step5/chara_5@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .thanks-Content-modal:after {
    position: absolute;
    top: -52px;
    bottom: 0;
    right: -64px;
    content: '';
    width: 147px;
    height: 154px;
    background: url("../images/step5/chara_4@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.thanks-Header_Title {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  padding: 4vw 0;
  margin: 0;
  box-shadow: 0 6px 6px 0 #dbb6c0 inset;
  background-color: #ffd4df;
  text-align: center; }
  .thanks-Header_Title:before {
    position: absolute;
    top: 0vw;
    bottom: 0;
    left: -6vw;
    content: '';
    width: 22vw;
    height: 31vw;
    background: url("../images/step5/chara_5@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .thanks-Header_Title:after {
    position: absolute;
    top: -1vw;
    bottom: 0;
    right: -10vw;
    content: '';
    width: 25vw;
    height: 34vw;
    background: url("../images/step5/chara_4@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.thanks-Wrapper:nth-of-type(2) .thanks-Header_Title {
  padding: 4.4vw 0 5vw; }
.thanks-Wrapper:nth-of-type(2) .thanks-Header_Title:before {
  top: 9vw; }
.thanks-Wrapper:nth-of-type(2) .thanks-Header_Title:after {
  top: 8vw; }

.thanks-Header_Text {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-size: 5.4vw;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #ff124b;
  text-align: center;
  line-height: 1.4em;
  position: relative;
  left: 1.4vw; }

.thanks-Header_TextPosition {
  position: relative;
  left: 2.66vw;
  top: -4px; }

.modaal-inner-wrapper {
  padding:0;
  padding: 12vw 3vw;
}

.modaal-container {
  border-radius: 6px;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3);
  padding: 0 0 1vw; }

.modaal-content {
  max-height: 75vh;
  overflow-y: auto; }

.modaal-close {
  position: absolute;
  right: 0;
  top: -9vw;
  width: 7vw;
  height: 7vw; }
  .modaal-close:focus, .modaal-close:hover {
    outline: none;
    background: transparent; }
  .modaal-close:before, .modaal-close:after {
    top: 0;
    left: 4vw;
    width: 0.8vw;
    height: 8vw; }

.modal-Field_Widget {
  width: 100%; }

.modal-Template {
  display: none; }

.modal-Sub-title{
  font-size: 4.1vw;
  line-height: 1.4;
  font-weight: bold;
  margin: 1em 0 0.6em; }

.modal-Text-red{
  color:#ff124c}

.modal-Bank_Button {
  width: 32vw;
  height: 10.6vw;
  font-size: 3.73vw;
  line-height: 1em; }

.modal-Help-shipping {
  padding: 6vw; }
  .modal-Help-shipping .modaal-content-container {
    width: 100%;
    padding: 11vw 8vw }

.modal-Help-parsonal {
  padding: 6vw; }
  .modal-Help-parsonal .modaal-content-container {
    width: 100%;
    padding: 11vw 6vw }

.modal-Help-assess {
  padding: 4vw; }
  .modal-Help-assess .modaal-content-container {
    width: 100%;
    padding: 11vw 6vw }

.modal-Help-kit {
  padding: 4vw; }
  .modal-Help-kit .modaal-content-container {
    width: 100%;
    padding: 11vw 6vw }
  .modal-Help-kit .kit-Size {
    padding: 0;
    list-style:none; }
  .modal-Help-kit .kit-Size li {
    width:100%; }
  .modal-Help-kit .kit-Size li figure img {
    display: block;
    width: 40vw;
    margin-left: 13vw; }

  .modal-Help-kit .kit-Size li:nth-of-type(3) figure img {
    width: 35vw;
    margin-left: 15vw;
    margin-top: 9vw; }
  .modal-Help-kit .kit-Size li:nth-of-type(4) figure img {
    width: 35vw;
    margin-left: 15vw;
    margin-top: 6vw; }

  .modal-Help-kit .kit-Size li figcaption {
    margin: 5.8vw;
    font-size: 3.6vw;
    line-height: 1.8em; }
  .modal-Help-kit .kit-Size li figcaption em {
    display: block;
    font-style: normal;
    font-weight: 900; }

.modal-help-Text {
  display: block;
  width: 100%;
  font-size: 3.6vw;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  margin: 0 0 2vw; }

.modal-Field_Wrapper {
  display: flex;
  flex-wrap: wrap; }

.modal-Field {
  width: 100%;
  margin: 0;
  display: flex; }

.modal-Field-half {
  width: 310px;
  margin: 0; }
  .modal-Field-half:nth-of-type(2n) {
    width: 270px; }

.modal-Field-selectBank {
  display: flex;
  margin: 0; }

.modal-Field_Label {
  display: block;
  width: 110px;
  margin: 0  0 4vw;
  padding: 0 4px;
  text-align: right;
  line-height: 10.6vw;
  color: #000000; }

.modal-Field_Label-sm {
  font-size: 3.46vw; }

.modal-Field_Label-selectBank {
  display: block;
  width: 38vw;
  margin: 0 0 5vw 0;
  font-size: 3.46vw;
  padding: 3.6vw 0 3vw 0;
  color: #000000; }

.modal-Field_Widget-multi {
  width: 470px;
  margin: 0 auto 2.66vw;
  display: flex;
  justify-content: space-around; }
  .modal-Field_Widget-multi > * {
    flex-grow: 0; }

.modal-Field_Widget-boxOther {
  width: 470px;
  margin: 0 auto 2.66vw;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .modal-Field_Widget-boxOther > * {
    flex-grow: 0;
    margin-left: 2.66vw; }

.modal-Field_Hint {
  margin: 1.33vw 0 4vw;
  font-size: 3.2vw; }

.modal-Field_Text-hopeTime {
  margin: 0 0 0 11vw;
  line-height: 10vw;
  font-size: 4.2vw; }

.modal-Submit {
  margin: 7vw auto 0;
  text-align: center; }

.modal-RadioBox {
  margin: 2.4vw 0 0 0;
  padding-left:0;
  text-align:left; }
  .modal-RadioBox .custom-control-label:before {
    top: 0;
    left: 0;
    width: 9vw;
    height: 9vw;
    border: 2px solid #999999;
    background-color: #ffffff !important;
    box-shadow: inset 3px 3px 0.2rem rgba(0, 0, 0, 0.1); }
  .modal-RadioBox .custom-control-label:after {
    background-image: none; }
  .modal-RadioBox .custom-control-input:checked ~ .custom-control-label::after {
    content: '\F00C';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 7vw;
    line-height: 9vw;
    top: 0;
    left: 0;
    width: 9vw;
    height: 9vw;
    color: red;
    z-index: 30;
    background-image: none; }

.modal-Checkbox-optional .custom-control-label:before {
  background-color: #ffffff !important; }

.modal-Text {
  margin: 5vw 0 0 0;
  text-align: center;
  font-size: 3.8vw;}

.modal-Text-ml5 {
  margin-left: 1.33vw !important; }

.modal-Text_HeaderTitle {
  color: #ff124b;
  font-size: 10.6vw;
  text-align: center; }

.modal-Text-RedBold {
  font-size: 7.46vw;
  color: #ff124b;
  font-weight: bold; }

.modal-Recommend .modaal-content-container {
  padding: 0 0 9.5vw 0; }

.modal-Recommend_Header {
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-display: swap;
  height: 21.5vw;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: #ffd4e1;
  text-align: center;
  border-radius: 6px 6px 0 0; }
  .modal-Recommend_Header:after {
    content: '';
    position: absolute;
    bottom: -4vw;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border: solid transparent 8px;
    border-top-color: #ffd4e1;
    pointer-events: none; }

.modal-Recommend_HeaderText {
  margin: 0;
  padding: 0;
  height: auto;
  font-size: 7.5vw;
  line-height: 20.5vw;
  color: #ff124b;
  text-align: center; }

.modal-Recommend_Content {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 6.13vw 0 2vw 0; }
  .modal-Recommend_Content:before {
    position: absolute;
    top: 8vw;
    left: -3.66vw;
    content: '';
    width: 20vw;
    height: 41vw;
    background: url("../images/common/charactor/moe_4-modal@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .modal-Recommend_Content:after {
    position: absolute;
    top: 8vw;
    right: -2.66vw;
    content: '';
    width: 20vw;
    height: 41vw;
    background: url("../images/common/charactor/nene_3-modal@2x.png") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.modal-Recommend_Text {
  margin: 0;
  font-size: 3.4vw;
  line-height: 1.75; }

.modal-Recommend_Text-2 {
  margin: 2.4vw 0; }

.modal-Recommend_Text-emphasis {
  font-size: 5.4vw;
  font-weight: bold;
  color: #ff124b; }

.modal-Recommend_Submit {
  margin: 0; }

.modal-HopeTime .modaal-inner-wrapper {
  padding: 12vw 8.5vw; }

.modal-HopeTime .modaal-content-container {
  width: 100%;
  padding: 6vw 8vw; }

.modal-Header {
  margin: 0 1vw 4vw;
  padding: 0 0 2vw;
  border-bottom: #cccccc 2px solid;
  text-align: center; }

.modal-HeaderText {
  margin: 0;
  font-size: 4.2vw;
  line-height: 1.5;
  font-weight: bold; }

.modal-HopeTime_Content {
  margin: 0 0 0 0.5rem; }

.modal-BankInfo .modaal-content-container {
  max-width: 750px;
  padding: 0 0 60px 0; }

.modal-BankInfo_header {
  border-radius: 6px;
  box-shadow: none; }

.modal-BankInfo_header {
  line-height: 1.30556; }

.modal-Select-selectBank {
  width: 100%;
  height: auto;
  margin: 0vw auto 7vw auto;
  padding: 6px 0 0 6px;
  font-size: 5vw;
  line-height: 1.71429; }

.modal-Login {
  padding: 0 }
  .modal-Login .modaal-content-container {
    padding:0;
    width: 100% }

.modal-Login .modaal-container {
  padding: 8vw;
}

.modal-Login_Field {
  width: 320px; }

.modal-Login_Field-2 {
  margin: 4px 0 0 70px; }

.modal-Login_checkbox {
  margin: 2.66vw 0 0 0;
  padding: 0 0 0 75px;
  text-align: center; }

.modal-Login_Text {
  margin: 8vw 0 0 0; }

.modal-Checkbox {
  margin: 5.5vw 0 0 0;
  padding-left: 0;
  text-align: left; }
  .modal-Checkbox .custom-control-label {
    padding: 0 0 0 11vw; }
    .modal-Checkbox .custom-control-label:before {
      top: 0;
      left: 0;
      width: 9vw;
      height: 9vw;
      background-color: #ffffff;
      border: 2px solid #999999;
      box-shadow: inset 3px 3px 0.2rem rgba(0, 0, 0, 0.1); }
    .modal-Checkbox .custom-control-label:after {
      top: 0;
      left: 0;
      display: block;
      width: 9vw;
      height: 9vw;
      background-size: 50% 50%; }
  .modal-Checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffffff !important; }
  .modal-Checkbox .custom-control-input:checked ~ .custom-control-label::after {
    content: '\F00C';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    text-align:center;
    vertical-align:middle;
    font-size:7vw;
    line-height:9vw;
    width: 9vw;
    height: 9vw;
    color: red;
    z-index: 30;
    background-image: none; }

.modal-Checkbox-multi {
  min-width: 50%;
  display: inline-block; }

.modal-Checkbox-optional .custom-control-label:before {
  background-color: #ffffff; }

.modal-Purchase .modaal-content-container {
  padding: 0;
}

.modal-ChangeCalender .modaal-content-container {
  padding: 6vw 4vw;
}
.modal-ChangeCalender .form-Calender_Cell {
  padding: 1.2vw .8vw;
}
.modal-Bank .modaal-inner-wrapper {
  padding: 12vw 5vw; }
.modal-Bank .modaal-content-container {
  padding: 4vw 5vw; }

.form-Field-selectBank .form-Field_Widget-multi {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
.form-Field-selectBank label {
  flex-basis: 48.5%;
  max-width: 48.5%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 3%;
  height: 13vw; }
.form-Field-selectBank label:nth-of-type(2n) {
  margin-right: 0; }
.form-Field-selectBank label:nth-of-type(n+3) {
  margin-top: 3vw !important; }

.form-InputSelectBank {
  height: 9vw;
  display: inline-block;
  margin: 1.6vw 3vw; }

.comfirm-Content {
  width: 100%;
  margin: 0 auto; }

.comfirm-Content_DataTitle {
  margin: 0 0 4.2vw;
  font-size: 3.8vw;
  font-weight: bold;
  line-height: 2.46em; }

.comfirm-Content_Data {
  margin: 0;
  padding: 0;
  font-size: 3.73vw;
  text-align: center; }

.comfirm-Content_Data-textbody {
  font-size: 3.73vw; }

.comfirm-Header_Content {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.comfirm-Header_Title {
  margin: 0;
  padding: 0; }

.comfirm-Header_ChangeAnchor {
  position: absolute;
  bottom: -3px;
  right: 0;
  display: block;
  width: 100px;
  height: 35px;
  margin: 0;
  padding: 1.33vw 0 0;
  border-radius: 6px;
  border: 2px solid #cccccc;
  box-shadow: 0 11px 16px -6px #e9e9e9 inset;
  background-color: #ffffff;
  font-size: 3.73vw;
  color: #000;
  text-decoration: none; }

.comfirm-CouponTicketText {
  width: 77.5vw;
  margin: 4vw auto 4vw;
  font-size: 3.73vw;
  line-height: 1.71429;
  text-indent: -1em; }

.comfirm-ToggleBtn {
  position: relative; }

.comfirm-ToggleBtn_Icon {
  position: absolute;
  top: 8vw;
  right: 4vw; }

.comfirm-ChangeAnchor {
  position: absolute;
  text-align:center;
  top: 0.5vw;
  right: 0;
  display: block;
  width: 22vw;
  height: 10.6vw;
  margin: 0;
  padding: 2.2vw 0 0;
  border-radius: 6px;
  border: 2px solid #cccccc;
  box-shadow: 0 11px 16px -6px #e9e9e9 inset;
  background-color: #ffffff;
  font-size: 3.73vw;
  color: #000;
  text-decoration: none; }
  .comfirm-ChangeAnchor:hover {
    text-decoration: none;
    background-color: #f2f2f2;
    transition: 0.4s; }

.comfirm-ChangeAnchor.comfirm-ChangeAnchor_step4 {
  top: -2.8vw;
  right: 3vw;
  border: 2px solid #989898;
  font-weight: 900;
  font-size: 3.6vw;
  width: 21vw;
  padding: 0;
  line-height:10.0vw;
  height:10.5vw;
}

.comfirm-ChangeAnchor-h40 {
  height: 10.6vw;
  padding: 8px 0 0 1.33vw; }

.custom-control-label {
  padding-top: 0.3vw;
  font-size: 3.6vw; }

.page-back {
  min-height:1em;
  position: relative;
  margin: auto;
  text-align: left;
  width: 95vw; }

.sw-Shipping_Boxes {
  padding: 5.6vw 4.8vw; }
.sw-Shipping_Boxes .form-Field_Widget-multi {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 13.6vw; }
.sw-Shipping_Boxes .form-Field_Widget-multi .form-ToggleBtn {
  flex-basis: 29%;
  margin: 0 6.5% 0 0;
  font-size: 5.4vw;
  padding: 10vw 4.6vw; }
.sw-Shipping_Boxes .form-Field_Widget-multi .form-ToggleBtn:nth-of-type(3n){
  margin-right: 0%; }
.sw-Shipping_Boxes .form-Field_Widget-multi .form-ToggleBtn:nth-of-type(n+4){
  margin-top: 6.5%; }
.sw-Shipping_Boxes .form-Field_Widget-boxOther .form-Select {
  margin: 0 2.5vw 0 3.5vw;
  width: 27vw; }

.form-Field_Widget-birth {
  display:flex;
}
.form-Field_Widget-birth .form-Select-birth {
  flex-basis:32%;
  margin-left:0;
}
.form-Field_Widget-birth .form-Select-birth + .form-Select-birth {
  margin-left: 2%;
}
.form-Checkbox .form-Text_Privacy {
  font-size: 3.4vw;
  line-height: 1.6em;
  padding-top: 1.5vw; }
.form-Text-Request {
  width: 84vw;
  margin: 0 auto 4vw;
  font-size:3.5vw;
}
.form-Content_Wrapper_step5 .form-Checkbox {
  margin:0 0 5vw -1vw; }
.form-Content_Wrapper_step5 .form-Checkbox:nth-of-type(2n) {
  margin:0 0 5vw -4vw; }
.form-Field_Caution {
  font-size: 3.2vw;
  width: 72vw;
  margin: 4vw auto 3vw;
  padding-left: 1em;
  text-indent: -1em; }
.icon-box:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8vw;
  height: 6.5vw;
  margin-left: -8vw;
  margin-right: 1vw;
  background: url(../images/step2/calender-icon-package@2x.png) center center no-repeat;
  background-size: contain; }
.icon-box-modal:before {
  position:relative;
  top: 3vw; }
.icon-box-modal2:before {
  position:relative;
  top: -0.5vw; }

.icon-truck:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8vw;
  height: 6.5vw;
  margin-left: -8vw;
  margin-right: 1vw;
  background: url(../images/step2/calender-icon-truck@2x.png) center center no-repeat;
  background-size: contain; }
.icon-truck-modal:before {
  position:relative;
  top: 3vw; }
.icon-truck-modal2:before {
  position:relative;
  top: -0.5vw; }

.u-c-white {
  color: #fff !important; }
.u-c-gray {
  color: #979797 !important;
  font-size: 6vw !important; }

.u-l--2v {
  left: -2vw; !important; }
.u-r-1v {
  right: 1vw; !important; }
.u-h-13v {
  height: 13vw !important; }

.u-wd-27v {
  width: 27vw !important; }
.u-wd-29v {
  width: 29vw !important; }
.u-wd-30v {
  width: 30vw !important; }
.u-wd-35v {
  width: 35vw !important; }
.u-wd-40v {
  width: 40vw !important; }
.u-wd-41v {
  width: 41vw !important; }
.u-wd-42v {
  width: 42vw !important; }
.u-wd-44v {
  width: 44vw !important; }
.u-wd-51v {
  width: 51vw !important; }
.u-wd-53v {
  width: 53vw !important; }
.u-wd-56v {
  width: 56vw !important; }

.u-pt-0 {
    padding-top: 0 !important; }

.u-pr-12v {
    padding-right: 12vw !important; }

.u-pb-0 {
    padding-bottom: 0 !important; }
.u-pb-4 {
    padding-bottom: 4vw !important; }

.u-pl-0 {
    padding-left: 0 !important; }
.u-pl-1v {
    padding-left: 1vw !important; }
.u-pl-12v {
    padding-left: 12vw !important; }
.u-pl-26v {
    padding-left: 26vw !important; }
.u-pl-30v {
    padding-left: 30vw !important; }
.u-pl-42v {
    padding-left: 42vw !important; }
.u-pl-46v {
    padding-left: 46.5vw !important; }

.u-mt--6v {
  margin-top: -6vw !important; }
.u-mt--2v {
  margin-top: -2vw !important; }
.u-mt-0 {
  margin-top: 0 !important; }
.u-mt-2v {
  margin-top: 2vw !important; }
.u-mt-3v {
  margin-top: 3vw !important; }
.u-mt-4v {
  margin-top: 4vw !important; }
.u-mt-5v {
  margin-top: 5vw !important; }
.u-mt-6v {
  margin-top: 6vw !important; }
.u-mt-7v {
  margin-bottom: 7vw !important; }
.u-mt-8v {
  margin-top: 8vw !important; }
.u-mt-9v {
  margin-top: 9vw !important; }
.u-mt-13v {
  margin-top: 13vw !important; }
.u-mt-18v {
  margin-top: 18vw !important; }
.u-mt-23v {
  margin-top: 23vw !important; }
.u-mt-24v {
  margin-top: 24vw !important; }
.u-mt-30v {
  margin-top: 30vw !important; }

.u-mr-1v {
  margin-right: 1vw !important; }

.u-ml--5v {
  margin-left: -5vw !important; }
.u-ml-1v {
  margin-left: 1vw !important; }

.u-mb-0 {
  margin-bottom: 0 !important; }
.u-mb-1v {
  margin-bottom: 1vw !important; }
.u-mb-2v {
  margin-bottom: 2vw !important; }
.u-mb-3v {
  margin-bottom: 3vw !important; }
.u-mb-4v {
  margin-bottom: 4vw !important; }
.u-mb-5v {
  margin-bottom: 5vw !important; }
.u-mb-6v {
  margin-bottom: 6vw !important; }
.u-mb-8v {
  margin-bottom: 8vw !important; }
.u-mb-13v {
  margin-bottom: 13vw !important; }

.b-t-0:before {
  top: 0 !important; }
.b-t-06:before {
  top: 0.6vw !important; }
.a-t-1v:after {
  top: 1vw !important; }
.a-t-1_6:after {
  top: 1.6vw !important; }

.b-l-28v:before {
  left: 28vw; }
.b-l-34v:before {
  left: 34vw; }
.b-l-33v:before {
  left: 33vw; }
.b-l-18v:before {
  left: 18vw; }

.js_tab {
  list-style-type: none;
  padding: 0; }

.js_tab_content {
  display: none; }

.js_tab_current_content {
  display: block; }

.u-no-underline {
  text-decoration:none !important; }
.u-v-hidden {
  visibility: hidden !important; }

.btn.recommend:before{
  position: absolute;
  top:-1em;
  width:5em;
  height:1.5em;
  padding:0.5vw 0 0;
  content:"オススメ";
  background: #fc0148;
  color:#fff;
  font-size:3vw;
  border-radius: 6px;
}

#cv-top {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:20px; }
#cv-left {
  position:fixed;
  top:0;
  left:0;
  width:20px;
  height:100vh; }

.stageSlide {
  display:flex;
  width:100%;
  overflow: hidden;
  height:0;
}
.slidePanel {
  flex-basis: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.slidePrev {
  display: none;
  opacity: 1;
  position: fixed;
  height: 10vw;
  bottom: 10vw;
  left: 2.5vw;
  z-index: 999;
/*
  position: absolute;
  top: 0.8vw;
  left: 0;
*/
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius:5px;
  text-decoration: underline !important;
  font-size: 3.4vw;
  padding: 2.5vw;
  transition: opacity 0.3s ease-out; }

.slidePrev.scroll {
  opacity: 0.2; }


/*# sourceMappingURL=style.css.map*/